::-moz-selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

::selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: visible;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: rgba(120, 120, 120, 0.5);
  overflow-x: hidden;
  min-height: 100%;
}

@media screen and (min-width: 512px) {
  html {
    font-size: 3.125vw;
  }
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "MonumentExtended-Regular";
  src: url(../fonts/MonumentExtended-Regular.otf);
  src: local(※), url(../fonts/MonumentExtended-Regular.woff) format("woff");
}
@font-face {
  font-family: "Arnold_Regular";
  src: local(※), url(../fonts/Arnold_Regular.woff) format("woff");
}

@media screen and (min-width: 512px) {
  body {
    font-weight: 700;
  }
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  font-family: "Arnold_Regular", sans-serif;
  margin: 16px;
  width: 100%;
  font-size: 0.5rem;
  text-align: left;
  line-height: 1.7;
}


p{
  display: block;

  font-size: 0.3rem;

}


h1 {
  font-size: 0.3rem;
  width: 100%;

  text-align: center;
}

ul {
  font-size: 0.5rem;
  margin-top: 32px;
}

li:nth-child(10n-1) {
  margin-left: 16px;
}

.container {
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.box {
  display: inline-block;
  height: 100px;
  width: 100%;

  position: relative;
  transition: all 0.2s ease;
}

.loader4 {
  position: relative;
  width: 375px;
  height: 6px;

  top: 45%;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  left: 25%;
  left: -webkit-calc(50% - 187.5px);
  left: calc(50% - 187.5px);

  background-color: rgba(255, 255, 255, 0.05);
  mix-blend-mode: difference;
}

.loader4:before {
  content: "";
  position: absolute;
  background-color: gray;
  top: 0px;
  left: 0px;
  height: 6px;
  width: 0px;
  z-index: 0;
  opacity: 1;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: loader4 5.8s ease-in-out;
  animation: loader4 5.8s ease-in-out;
}

.loader4:after {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 6px;
  line-height: 20px;
  left: 0;
  top: 0;
}

@-webkit-keyframes loader4 {
  0% {
    width: 0px;
  }
  70% {
    width: 100%;
    opacity: 1;
  }
  90% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}

@keyframes loader4 {
  0% {
    width: 0px;
  }
  70% {
    width: 100%;
    opacity: 1;
  }
  90% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}

@-webkit-keyframes movingPara {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}
@keyframes movingPara {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

section {
  display: inline;
}

.iframe {
  margin: 16px;
  text-align: center;
}

iframe {
  width: 84px;
  border: 1px solid rgba(150, 150, 150, 0.1);
  margin-left: 75%;
}

/* // desktop */

.desktop {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.menu {
  width: 100%;
  height: 2vw;
  position: absolute;
  background-color: darkgray;
  font-size: 0.25rem;

  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-auto-rows: minmax(2vw, auto);
  column-gap: 16px;
  align-content: start;
}

#clock {
  position: absolute;
  align-self: center;
  justify-self: center;
  grid-column: 23 / span 2;
}

#item1 {
  width: 1.25vw;
  margin-top: 0.3vw;
  align-self: center;
  justify-self: center;
  grid-column: 1 / span 1;
}
#item2 {
  align-self: center;
  justify-self: center;
  grid-column: 2 / span 1;
}
#item3 {
  align-self: center;
  justify-self: center;
  grid-column: 3 / span 1;
}
#item4 {
  align-self: center;
  justify-self: center;
  grid-column: 4 / span 1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;

  margin: 0 auto;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: gray;
}

input:focus + .slider {
  box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.none {
  display: none;
}

#defaultCanvas0 {
  width: 375px;
  height: 812px;
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid rgba(150, 150, 150, 0.1);
}

@media screen and (max-width: 375px) {
  #defaultCanvas0 {
    transform: scale(0.75) translate(-67.5%, -67.5%);
  }
}
