@font-face {
  font-family: "EBGaramond";
  font-weight: 600;
  src: url("../fonts/EBGaramond-Bold.woff2") format("woff2");
  src: local(※), url("../fonts/EBGaramond-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "EBGaramond";
  font-weight: 900;
  src: url("../fonts/EBGaramond-ExtraBold.woff2") format("woff2");
  src: local(※), url("../fonts/EBGaramond-ExtraBold.woff") format("woff");
  font-display: swap;
}
