@media print {
  @page {
    size: 230mm 80mm;
    page-orientation: rotate-right;
    margin: 0cm;
  }

  html,
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  .ticket_container {
    position: relative;

    width: 100vw;
    height: 100vh;
    page-break-after: always;
  }

  .ticket {
    display: block;

    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    margin-top: 0px !important;
  }

  .ticket img {
    width: 100%;
    height: 100%;
  }

  #result {
    display: block;

    position: absolute;
    top: calc(50% - 14.5mm);
    left: calc(50% - 10.5mm);

    font-size: 28pt;
    text-wrap: nowrap;

    transform-origin: 50% 50%;
    /* transform: rotate(90deg) translate(-50%, -50%); */
    transform: translate(0, -50%);
  }

  .no-print {
    display: none;
  }

  /* Setting content width, unsetting floats and margins */
  /* Attention: the classes and IDs vary from theme to theme. Thus, set own classes here */
  #content,
  #page {
    width: 100%;
    margin: 0;
    float: none;
  }
  /** Setting margins */
  @page {
    margin: 2cm;
  }

  /* Or: */
  @page :left {
    margin: 1cm;
  }

  @page :right {
    margin: 1cm;
  }

  /* The first page of a print can be manipulated as well */
  @page :first {
    margin: 1cm 2cm;
  }
}
