/* Noto Serif KR */
@font-face {
  font-family: "Noto-serif-kr";
  font-weight: 400;
  src: url("../fonts/NotoSerifKR-Regular.woff2") format("woff2"),
    url("../fonts/NotoSerifKR-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noto-serif-kr";
  font-weight: 500;
  src: url("../fonts/NotoSerifKR-Medium.woff2") format("woff2"),
    url("../fonts/NotoSerifKR-Medium.woff") format("woff");
}

@font-face {
  font-family: "Noto-serif-kr";
  font-weight: 600;
  src: url("../fonts/NotoSerifKR-SemiBold.woff2") format("woff2"),
    url("../fonts/NotoSerifKR-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Noto-serif-kr";
  font-weight: 700;
  src: url("../fonts/NotoSerifKR-Bold.woff2") format("woff2"),
    url("../fonts/NotoSerifKR-Bold.woff") format("woff");
}

@font-face {
  font-family: "Noto-serif-kr";
  font-weight: 900;
  src: url("../fonts/NotoSerifKR-Black.woff2") format("woff2"),
    url("../fonts/NotoSerifKR-Black.woff") format("woff");
}
