/* 
@font-face {
	font-family: "font";
	src: url("../fonts/national-2-regular.woff2") format("woff2");
}

@font-face {
	font-family: "font";
	src: url("../fonts/Arnold_Italic.woff") format("woff");
}

@font-face {
	font-family: "font";
	src: url("../fonts/Arnold_v0.3-Regular.woff") format("woff");
}

@font-face {
	font-family: "font";
	src: url("../fonts/AJensonPro-Disp.otf") format("opentype");
} */
/* 
@font-face {
	font-family: "font";
	src: url("../fonts/FoundersGrotesk-Regular.otf") format("opentype");
}


@font-face {
	font-family: "font";
	src: url("../fonts/fugue_regular.otf") format("opentype");
}

@font-face {
	font-family: "font";
	src: url("../fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
	font-family: "font";
	src: url("../fonts/OptimaLTStd-Medium.otf") format("opentype");
} */

@font-face {
	font-family: "font";
	src: url("../fonts/SuisseIntl-Book.woff") format("woff");
}
/* 
@font-face {
	font-family: "font";
	src: url("../fonts/UniversLTStd-LightUltraCn.otf") format("opentype");
} */
