html {
  --max: 1400px;
}
@media (min-width: 1420px) {
  html {
    font-size: 10px;
    --text-indent: calc(var(--max) * (1 / 12));
  }
  .project__initial {
    width: calc(100% - var(--gutter))!important;
  }
}
@media (max-width: 1420px) {
  .project__initial {
    width: calc(100% - var(--gutter))!important;
  }
}

html.win {
  --max: 1120px;
}
@media (min-width: 1140px) {
  html.win {
    font-size: 8px;
    --text-indent: calc(var(--max) * (1 / 12));
  }
  html.win .project__initial {
    width: calc(100% - var(--gutter))!important;
  }
}
@media (max-width: 1140px) {
  html.win .project__initial {
    width: calc(100% - var(--gutter))!important;
  }
}
