@font-face {
  font-family: 'Times Ten';
  src: url('../fonts/TimesTenLTStd-Roman.woff');
}
@font-face {
  font-family: 'Times Ten';
  font-style: italic;
  src: url('../fonts/TimesTenLTStd-Italic.woff');
}
@font-face {
  font-family: 'Times Ten';
  font-weight: bold;
  src: url('../fonts/TimesTenLTStd-Bold.woff');
}
@font-face {
  font-family: 'Gill Sans';
  src: url('../fonts/GillSans2.woff');
}
@font-face {
  font-family: 'Gill Sans SC';
  src: url('../fonts/GillSans-SC.woff');
}

html {
  --tiny: 1.4rem;
  --small: 1.6rem;
  --body: 2.2rem;
  --large: 2.8rem;
  --huge: 3.6rem;
  --gutter: 2rem;
  --page-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.1);
  --ease: cubic-bezier(0.19, 1, 0.22, 1);
  --top-margin: 16rem;
  --text-indent: calc((100vw - var(--gutter)) * (1 / 12));
  --paragraph-width: calc(32 * var(--body));
  --slideshow-image-height: 70vh;
}

* {
  font: inherit;
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  font-size: 0.7vw;
}

body {
  font-family: 'Times Ten', serif;
  font-variant-numeric: oldstyle-nums;
  font-size: var(--body);
  line-height: 1.075;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  width: 100vw;
  overflow-x: hidden;
}
em {
  font-style: italic;
}
body.prevent-scroll, body.drawings-open, body.contact-open, body.index-sidebar-open {
  overflow-y: hidden;
}
body:not(.ready) main, body:not(.ready) footer {
  opacity: 0;
}
img {
  display: block;
  max-width: 100%;
}
p a, ol a, ul a {
  border-bottom: 1px solid;
}
p a:hover, ol a:hover, ul a:hover {
  border-bottom: none;
}
.gill a, strong a {
  border: none;
}
main {
  flex: 1;
  box-shadow: var(--page-shadow);
  padding: var(--gutter);
  transition: opacity 0.5s var(--ease);
  padding-top: var(--top-margin);
}
#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
  position: relative;
  z-index: 1;
}

pre {
  font-family: monospace;
  font-size: var(--small);
  white-space: pre-wrap;
}
a {
  text-decoration: none;
}
.sc {
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  font-feature-settings: 'c2sc', 'smcp';
}
.gill {
  font-family: 'Gill Sans', sans-serif;
  letter-spacing: 0.05em;
  font-size: var(--small);
}
.gill.sc, .gill .sc {
  font-family: 'Gill Sans SC', sans-serif;
  text-transform: lowercase;
  font-variant: normal;
  font-variant-caps: normal;
  font-feature-settings: normal;
}
.lower {
  text-transform: lowercase;
}
sup {
  font-size: 75%;
  line-height: 0;
}


#bottom {
  padding: 8rem var(--gutter) var(--gutter);
  position: sticky; bottom: 0; left: 0;
  width: 100%;
}
#bottom .bottom__inner {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--gutter);
  max-width: var(--max);
}
#bottom .contacts {
  margin-top: auto;
}
#bottom .contacts .social {
  text-align: right;
}
#bottom .contacts {
  display: flex;
  justify-content: space-between;
}
.upnum {
  font-variant-numeric: normal;
}
#bottom .gill a, .contact-overlay .gill a {
  text-decoration: none!important;
}

@media (min-width: 768px) {
  #bottom .contacts .details br:not(:nth-of-type(1)) {
    display: none;
  }
}

figure .number {
  margin-bottom: 1rem;
  text-align: center;
}
.num, .number {
  font-variant-numeric: normal;
}

.sized {
  position: relative;
  background-color: #eee;
}
.sized > *:not(.sizer) {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.lazy {
  transition: opacity 0.5s var(--ease);
  min-height: 1px;
  min-width: 1px;
}
.lazy:not(.loaded) {
  opacity: 0;
}

.page-break {
  height: 1rem;
  width: 100vw;
  box-shadow: var(--page-shadow);
  margin-left: calc(0px - var(--gutter));
  margin-bottom: calc(var(--gutter) * 4);
}

.accordion {
  width: 100%;
  max-width: var(--max);
  margin: auto;
  margin-bottom: calc(var(--gutter) * 4);
}
.accordion__item {
  border-top: 1px solid;
  padding: calc(var(--gutter) + 0.4rem ) 0 var(--gutter);
}
.accordion__item:last-of-type {
  border-bottom: 1px solid;
}
.accordion__item__heading h2 {
  display: inline;
}
.accordion__item__first {
  margin-left: var(--text-indent);
}
.accordion__item__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--gutter);
}
.accordion__item__content__text p {
  max-width: 27em;
}
.accordion__item__content__text p:not(:first-of-type) {
  text-indent: var(--text-indent);
}
.accordion__item__content__text {
  margin-bottom: calc(var(--gutter) * 2);
}
.accordion__item__content__details {
  margin-left: var(--text-indent);
  margin-bottom: calc(var(--gutter) * 2);
}
.accordion__item__content__details .row {
  display: flex;
}
.accordion__item__content__details .row {
  margin-bottom: 1em;
}
.accordion__item__content__details .row > div:nth-child(1) {
  width: 8em;
}
.accordion__item__content__details .row > div:nth-child(2) {
  flex: 1;
  max-width: 24em;
}
.accordion__item:not(.open) {
  cursor: pointer;
}
.accordion__item.open .accordion__item__heading {
  cursor: pointer;
}
.accordion__item.open .accordion__item__heading span {
  display: none;
}
.accordion__item:not(.open) .accordion__item__content {
  display: none;
}
.accordion__item__content__thumbs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: var(--gutter);
}
.accordion__item__content__thumbs article {
  margin-bottom: var(--gutter);
  text-align: center;
}
.accordion__item__content__thumbs figure {
  margin-top: 0.6rem;
}

.fragment-trigger {
  position: relative;
  cursor: pointer;
}
.fragment-trigger:not(:hover) img {
  filter: grayscale(1);
}
.fragment-trigger figcaption {
  font-size: var(--tiny);
  margin-top: 1.4rem;
}

.fragment {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: white;
}
.fragment__overflow {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.fragment__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--gutter);
  padding: var(--gutter) 0;
  width: 100%;
  max-width: var(--max);
  margin: auto;
}
.fragment:not(.open) {
  display: none;
}
.close-icon {
  position: absolute;
  top: 0; right: 0;
  padding: var(--gutter);
  cursor: pointer;
  z-index: 2;
  display: block;
}
.close-icon svg {
  width: 1.8rem;
  height: 1.8rem;
  overflow: visible;
}
.fragment .close line, .close-icon line {
  stroke: currentColor;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}
.fragment figure {
  position: relative;
}
.fragment figcaption {
  padding-top: 1.8rem;
}
.fragment__left {
  padding: var(--gutter) calc(var(--text-indent) / 2);
}
.fragment__left .number {
  text-align: center;
  margin-bottom: 1rem;
}
.fragment__left figcaption {
  display: flex;
}
.fragment__left figcaption div {
  flex: 1;
}
.fragment__left figcaption span {
  margin-left: 1em;
  font-variant-numeric: normal;
}
.fragment__right {
  padding-top: 4.2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: var(--gutter);
}
.fragment__right .fragment__text {
  grid-column: 1 / 6;
}
.fragment__right h1 {
  text-indent: var(--text-indent);
}
.fragment__right p:not(:first-of-type) {
  text-indent: var(--text-indent);
}
.fragment .details {
  margin-top: 4rem;
}
.fragment .details .row {
  display: flex;
}
.fragment .details .row > div:nth-of-type(2) {
  flex: 1;
}
.fragment .details .row > div:nth-of-type(1) {
  width: var(--text-indent);
}

.click-carousel figure:not(.open) {
  display: none;
}

[data-fragment-trigger] {
  cursor: pointer;
}

.lightbox {
  position: fixed;
  top: 0; left: 0;
  bottom: 0; right: 0;
  z-index: 100;
  background: white;
  display: none;
  user-select: none;
}
.lightbox__slide {
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  background: white;
  display: none;
}
.lightbox__slide figure {
  position: absolute;
  top: var(--gutter); left: var(--gutter);
  bottom: var(--gutter); right: var(--gutter);
  display: flex;
  flex-direction: column;
}
.lightbox__slide__corner,
.lightbox__slide__caption{
  position: absolute;
  z-index: 2;
}
.lightbox__slide__caption {
  bottom: 0;
  left: 0;
}
.lightbox__slide .counts {
  text-align: center;
  font-variant-numeric: normal;
  margin-top: var(--gutter);
}
.lightbox__slide .image {
  width: 100%;
  flex: 1;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.lightbox__slide .image img {
  position: absolute;
  top: 50%; left: 50%;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}
.lightbox__nav {
  position: absolute;
  top: 0; width: 50%;
  height: 100%;
  z-index: 1;
}
.lightbox__nav.next {
  right: 0;
  cursor: e-resize;
}
.lightbox__nav.prev {
  left: 0;
  cursor: w-resize;
}
.lightbox .close-icon {
  z-index: 2;
}

.details tr td:first-child {
  width: var(--text-indent);
}

.poem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--gutter);
}

blockquote {
  margin: 1.075em var(--text-indent);
  margin-right: 0;
}
blockquote + p {
  text-indent: 0!important;
}

.gill a:not([href*="mailto:"]):not(.noarrow):before {
  display: inline-block;
  content: '';
  width: 0.5em;
  height: 0.5em;
  position: relative;
  top: -0.05em;
  margin-right: 0.4em;
  background-image: url('../images/small-arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.close-cover {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

.video-overlay {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  padding: calc(var(--gutter) * 3);
  width: 100%;
  max-width: 120rem;
  background: white;
  z-index: 50;
  box-shadow: var(--page-shadow);
}
.video-wrap {
  width: 100%;
}
.video-overlay iframe {
  display: block;
}
