*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  background-color: #fff;
}

@media (max-width: 432px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 720px) and (max-width: 959px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1999px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 2vw;
  }
}

body {
  position: relative;
  font-family: "pretendard-regular", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.65;
  word-spacing: 0.035rem;
  letter-spacing: -0.01rem;
  word-break: inherit;

  cursor: default;
  background: #eaede6;
}

body.fixed {
  height: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("../images/sign1.png"); */
  background-color: #333;
  background-size: cover;
  background-position: top center;
}

.header::after {
  content: "";
  position: absolute;
  z-index: 888;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.125rem 0.25rem;
  font-size: 2vw;
  font-weight: 900;
  text-align: center;
  color: white;
}

.header .title {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.header .title div {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 2vw;
  font-weight: 900;
  line-height: 1.25;
  text-align: center;
  color: white;
}
.main {
  margin-top: 100vh;
}

a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  background-color: #eaede6;

  outline: 0;
  cursor: pointer;
}

a p {
  width: 95%;
  color: #a0a0a0;
}

a::-webkit-scrollbar {
  display: none;
}

a::after {
  content: "";
  display: block;
  clear: both;
}

a:not(:first-child) {
  display: none;
}

a:target {
  display: block;
}

a mark {
  background-color: transparent;
  -webkit-animation: fadeIn 0.75s;
  animation: fadeIn 0.75s;

  color: #000;
  /* box-shadow: 0 2px 1px -1px #333; */
}

a sub {
  font-size: 62.5%;
  vertical-align: 1.68%;

  margin-right: 0.5rem;
}

a sup {
  vertical-align: top;
}

a sup::before {
  content: "『";
  padding-right: 0.01rem;
}

a sup::after {
  content: "』";
  padding-left: 0.01rem;
}

a div {
  display: inline;
  color: darkolivegreen;
  background-color: transparent;
  -webkit-animation: fadeIn 0.75s;
  animation: fadeIn 0.75s;
}

a span {
  font-size: 87.5%;

  opacity: 0.7;
  transition: opacity 0.125s;

  margin: 0 0.125rem;
}

button {
  display: block;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;

  font-size: 75%;
  color: #a0a0a0;
  margin-top: 3rem;

  z-index: 1000;
}

button:last-child {
  margin-top: 0.5rem;
}

button:hover {
  text-decoration: underline;
  text-underline-position: under;
}

a > figure {
  float: left;
  width: calc(50% - 0.5rem);
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  -webkit-animation: fadeIn 0.75s;
  animation: fadeIn 0.75s;
}

@media screen and (min-width: 900px) {
  body {
    word-break: keep-all;
  }

  a > figure {
    width: calc(100% / 4 - 0.5rem);
  }

  a p {
    width: 90%;
  }
}

figure figure:not(:last-child) {
  margin-bottom: 1rem;
}

a figure img,
a figure video {
  display: block;
  width: 100%;
}

a figure img,
a figure video {
  margin-bottom: 0.5rem;
}

a figcaption {
  font-family: "normalbatang";
  margin-bottom: 0.625rem;
  font-size: 1rem;
  line-height: 1.6;

  color: #333;
}

@media screen and (min-width: 1024px) {
  a figcaption {
    font-size: 0.875rem;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
