body {
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  overflow: hidden;

  margin: 2vw;
  background: #d6d6d6;
}

.load {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  position: fixed;

  width: 106vw;
  height: calc(100vh + 4vw);

  left: -2vw;
  bottom: -2vw;

  text-align: center;

  overflow: hidden;
  background: black;
  color: white;

  z-index: 1001;
}

.load h1 {
  color: white;

  font-size: 3.5vw;
  font-weight: 700;
}

#info {
  width: 11vw;

  float: left;
  margin: 0;
  font-size: 1.75vw;
  line-height: 1.2;
}

.info-backg {
  position: absolute;

  width: 14vw;
  height: 100vh;

  transform: translate(-2vw, -2vw);

  background-image: url(../../../../assets/images/type/backg.png);
  background-repeat: no-repeat;
  background-size: contain;

  z-index: -1;
}

#contents {
  background-color: #fff;
  width: calc(100% - 12vw);
  height: calc(100vh - 4vw);
  margin: 0 4vw 0 12vw;
}

#contents .content_header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 3vw;

  padding: 1.25vw 0.75vw;

  background: black;
}

#contents .content_header a:hover {
  filter: invert(1);
}

#contents .content_header > img,
#contents .content_header a > img {
  height: 2vw;
}

#contents .content_header > img:nth-child(2) {
  height: 1.375vw;
  margin-right: 7vw;
}

#tajaContents {
  width: 100%;
  height: 95%;
  position: relative;
}

#inputContents {
  display: flex;
  flex-direction: row;

  position: absolute;
  transform: translateX(-50%);
  left: calc(50% + 6vw);
  bottom: 4vw;

  align-items: center;
  justify-content: center;

  text-align: center;
}

#inputText {
  display: inline-block;
}
#inputText input {
  font-size: 1.75vw;
  height: 3.75vw;

  padding: 0.75vw 1vw;
  border: 1px solid #000;

  background: white;
}
#inputBtn {
  display: inline-block;text-wrap: nowrap;
}

button {
  font-size: 1.75vw;
  font-weight: 700;
  height: 3.75vw;

  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: black;
  border: 2px solid black;
  padding: 0.75vw 1vw;
  border-radius: none;
}

button:hover {
  background: #fff;
  color: black;
}

a:focus,
button:focus {
  outline: 4px solid orangered;
}

#typing-text {
  margin: 0.875vw 0;
}

#typing-text p {
  font-size: 0.875vw;
  font-weight: 900;
  padding: 0.125vw;

  color: #fff;
  mix-blend-mode: difference;
}

button#download {
  display: none;
  margin-top: 2vw;

  padding: 0;
  background: transparent;
  border: none;
}

button#download img {
  width: 100%;
}

.print-title {
  display: none;

  font-size: 8mm;
  margin-bottom: 12px;
}

.print-body {
  display: none;

  font-size: 4mm;
  margin-bottom: 6px;
}

.tajaWord {
  font-size: 2.5vw;
  font-weight: 800;
  letter-spacing: -0.5px;
  text-wrap: nowrap;

  background: #f0f0f0;

  padding: 0.375vw;
}

input::placeholder {
  color: #aaa;
  opacity: 0.6;
}

input::-ms-input-placeholder {
  color: #aaa;
}

p.word {
  margin: 0 auto;
}

p.body {
  display: none;
}

#tajaBtn {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  scale: 1.01;

  padding: 0;
  margin: 0;
  outline: none;

  cursor: pointer;
}

#tajaBtn:active {
  background: #121212;
}

.score-section {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  width: 100%;

  margin-top: 0.375vw;
}

.score-num {
  width: 4vw;
}

#score {
  font-size: 1.75vw;
  font-weight: 900;

  color: #2b2b2b;
}

.backspace {
  position: absolute;
  bottom: 2.25vw;
  left: 5vw;
  transform: translateX(-50%);
}

.backspace a {
  color: #666;
}

.word-footer {
  position: absolute;
  bottom: 2.25vw;
  left: 7vw;
  transform: translateX(-50%);
}

.word-footer img {
  width: 11vw;
}

.formobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .formobile {
    display: block;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
  }

  .formobile-p {
    display: block;
    z-index: 10001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    color: black;
    background-color: white;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
  }
}

/* Print Styles */
@media print {
  /* 	Hide everything that doesn't have the '.print' class */
    body {
    padding: 0;
    margin: 0;
  }
  .print {
    /* 		Force the browser to print with the given colors instead of overwriting to black&white */
    color-adjust: exact;
    -webkit-print-color-adjust: exact;

    background-color: ddd;
    color: #000;

    padding: 12px;
  }

  .print-title,
  .print-body {
    display: block;
  }

  p.word {
    font-size: 8mm;

    border: 1px solid #999;
    padding: 4mm 6mm;
    margin: 6mm 0;
  }

  #typing-text {
    border: none;
  }

  p.body {
    display: block;
    font-size: 5mm;
  }

  #score,
  #life {
    font-size: 3mm;
  }

  #life {
    margin-bottom: 24px;
  }

  .no-print {
    display: none;
  }

  /* 	Give the cards fixed dimensions  */
  /* .container {
          width: 85.5mm;
          height: 55mm;
        } */

  /* 	Remove the header and footer text and urls the browser places  */

  /* @page {
  size: 21cm 29.7cm;
  margin: 15px;
} */
}
