@font-face {
  font-family: "pretendard";
  src: url("../fonts/Pretendard-Regular.subset.woff2") format("woff2")
    url("../fonts/Pretendard-Regular.subset.woff") format("woff");
  font-display: swap;
}
