* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
}
.header-box {
  width: 100%;
  background: white;
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}
.header {
  width: 100%;

  color: transparent;
  background-image: linear-gradient(
    to left,
    beige,
    purple,
    rgb(18, 63, 122),
    white,
    #3b5999,
    powderblue,
    silver
  );
  -webkit-background-clip: text;
  background-size: 500%;
  animation: animate 11s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.word-display {
  font-size: 64px;
  line-height: 1.5;
  text-align: left;

  width: 50%;

  margin-left: 0px;
}

.word-input-box {
  width: 50%;
}

.word-input {
  font-size: 64px;
  line-height: 1.5;
  text-align: left;

  font-weight: 500;
  outline: none;
  border: 1px solid;
}

.game-info {
  margin-top: 2rem;
  font-size: 1rem;
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  color: gray;
}

.time,
.score {
  font-weight: 500;
}

.button {
  margin-top: 50px;
  width: 200px;
  height: 35px;

  color: white;
  border: none;

  cursor: pointer;
  outline: none;
  transition: background 0.1s ease-out;


}

button#download {
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 12px 16px;
}

.button:hover {
  background: black;
}

.loading:hover {
  background: black;
}
.loading:active {
  transform: none;
}

.loading {
  background: gray;

  /* pointer-events: none; */
}

.word-input.disabled {
  pointer-events: none;
}

.message {
  font-size: 48px;
  margin-top: 32px;
  color: rgb(248, 139, 139);
  font-weight: 600;
}

#download {
  display: none;
}

p.body {
  display: none;
}

/* Print Styles */
@media print {
  /* 	Hide everything that doesn't have the '.print' class */
  body > *:not(.print) {
    display: none;
  }
  .print {
    /* 		Force the browser to print with the given colors instead of overwriting to black&white */
    color-adjust: exact;
    -webkit-print-color-adjust: exact;

    background-color: ddd;
    color: #000;

    padding: 12px;
  }

  .print-title {
    display: block;
  }

  p.word {
    font-size: 8mm;

    border: 1px solid #999;
    padding: 4mm 6mm;
    margin: 6mm 0;
  }

  #typing-text {
    border: none;
  }

  p.body {
    display: block;
    font-size: 5mm;
  }

  #score,
  #life {
    font-size: 3mm;
  }

  #life {
    margin-bottom: 24px;
  }

  .no-print {
    display: none;
  }

  /* 	Give the cards fixed dimensions  */
  /* .container {
          width: 85.5mm;
          height: 55mm;
        } */

  /* 	Remove the header and footer text and urls the browser places  */
  @page {
    margin: 0;
  }
}

.formobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .formobile {
    display: block;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
  }

  .formobile-p {
    display: block;
    z-index: 10001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    color: black;
    background-color: white;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
  }
}
