@font-face {
  font-family: "pretendard";
  src: url("https://static1.squarespace.com/static/64d489f4ff78564d8f43edec/t/64d4a0e808feba68aa9e09d6/1691656439024/Pretendard-Regular.woff")
      format("woff"),
    url("https://static1.squarespace.com/static/64d489f4ff78564d8f43edec/t/64d4a0e8353c9c18971b3854/1691656448907/Pretendard-Regular.ttf")
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "pretendard";
  src: url("https://static1.squarespace.com/static/64d489f4ff78564d8f43edec/t/64d4a0e70b06010279354e53/1691656439023/Pretendard-Bold.woff")
      format("woff"),
    url("https://static1.squarespace.com/static/64d489f4ff78564d8f43edec/t/64d4a0e715d322020c484e2d/1691656448616/Pretendard-Bold.ttf")
      format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://static1.squarespace.com/static/64d489f4ff78564d8f43edec/t/64e0b2e9cb27352742fd865e/1692447469077/GowunDodum-Regular.woff")
      format("woff"),
    url("https://static1.squarespace.com/static/64d489f4ff78564d8f43edec/t/64e0b2adddb7932eb7d9fdee/1692447433555/GowunDodum-Regular.ttf")
      format("truetype");
}

* {
  font-family: "pretendard";
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: "pretendard";
  font-weight: 600;
}

p {
  word-break: keep-all;
}

.header-nav-list > div:first-child {
  display: none;
}

.header-nav-item a {
  mix-blend-mode: difference;
}

.header-nav-item.header-nav-item--collection a:hover {
  text-decoration: underline;
}

body:not(.header--menu-open) .header-nav-item--active > a {
  background: none;
  text-decoration: none;
  opacity: 0.5 !important;
}

body:not(.header--menu-open)
  [data-header-style="gradient"].header
  .header-nav-wrapper
  .header-nav-item--active
  a::after {
  content: " ";
  position: absolute;

  top: 1.5rem;
  margin-left: 0;

  width: 0.5rem;
  height: 0.5rem;

  background-color: crimson;
  border-radius: 9999px;
}

.header-menu-nav-item:hover a {
  opacity: 0.5;
}

#footer-sections .sqs-block-html a {
  color: inherit !important;
  text-decoration: none;
}

#footer-sections .sqs-block-html a:hover {
  opacity: 0.5;
}

.has-section-divider[data-section-id="64fa26ee52187037450226b5"]
  .background-pause-button {
  display: none;
}

.sqs-block-accordion .accordion-item__click-target > * {
  font-weight: 600;
}

.item-pagination-link .item-pagination-icon svg {
  scale: 0.75;
}

.accordion-item p {
  margin: 0.5rem 0;
}

.blog-title .passthrough-link:after {
  display: block;

  content: "외부 링크 보기";
  word-spacing: -1px;
  font-size: 50%;
  line-height: 1;

  margin: 1rem 0;
  color: #f37f7f;
  opacity: 0.7;

  width: fit-content;
  text-decoration: underline;
  text-underline-position: under;
}

.sqsrte-text-color--white {
  word-break: keep-all;
}

.fe-block-c4ad11dbc7bfd4c4c4b4 .sqs-block h2,
.fe-block-ea7f5bd83fd949ade80b .sqs-block h2 {
  font-family: "GowunDodum-Regular", serif;

}

@media screen and (min-width: 768px),
  screen and (max-width: calc(93.6% - 1px)) and (orientation: landscape) {
  .page-section.vertical-alignment--bottom:not(.content-collection):not(
      .gallery-section
    ):not(.user-items-list-section):not(.section-height--custom):not(
      .editmode-changing-rowcount
    )
    > .content-wrapper {
    padding-bottom: 2vw;
  }

  .tweak-blog-basic-grid-text-alignment-left
    .blog-basic-grid
    .blog-basic-grid--container {
    background: #f8f8f8;
    padding: 1.5rem;
    border-radius: 1.25rem;
  }

  .item-pagination-link {
    border: 1px solid #666;
    padding: 0.75rem 1rem;
    border-radius: 100rem;
  }

  [data-collection-type^="blog"] .item-pagination-title {
    font-size: 1.25rem;
    width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .blog-basic-grid .blog-title {
    word-break: keep-all;
    font-size: 1.75rem;
  }

  .blog-basic-grid .blog-excerpt,
  .blog-basic-grid .blog-more-link {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  footer p,
  footer span {
    text-align: left !important;
  }

  .page-section.vertical-alignment--bottom:not(.content-collection):not(
      .gallery-section
    ):not(.user-items-list-section):not(.section-height--custom):not(
      .editmode-changing-rowcount
    )
    > .content-wrapper {
    padding-bottom: 8vw;
  }

  .fe-block-yui_3_17_2_1_1694244190555_5243 .sqs-block {
    justify-content: space-evenly;
  }

  .tweak-blog-basic-grid-width-inset .blog-basic-grid {
    padding: 2vw;
  }

  .tweak-blog-basic-grid-text-alignment-left
    .blog-basic-grid
    .blog-basic-grid--container {
    background: #f8f8f8;
    padding: 1.75rem;
    border-radius: 1.25rem;
  }

  .item-pagination-link {
    border: 1px solid #666;
    padding: 0.5rem 0.75rem;
    border-radius: 2.5rem;
    margin-bottom: 1rem;
  }

  [data-collection-type^="blog"] .item-pagination-title {
    font-size: 1rem;
    width: 25vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #block-f3fed176f06c527c8c15 h1 {
    font-size: 2.25rem;
  }

  .blog-basic-grid .blog-article-spacer {
    height: 3vw;
  }

  .blog-basic-grid .blog-basic-grid--container {
    margin-bottom: 40px;
  }

  .blog-basic-grid .blog-title {
    word-break: keep-all;
    font-size: 1.5rem;
  }
}

.item-pagination-link .item-pagination-icon {
  padding-right: 16px;
}

.item-pagination-link--next .item-pagination-icon {
  padding-right: 0;
  padding-left: 16px;
}
