@font-face {
  font-family: "yde";
  src: url("../fonts/yde.woff2") format("woff2");
  src: local(※), url("../fonts/yde.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YdestreetL";
  src: url("../fonts/Pretendard-Regular.subset.woff2") format("woff2");
  src: local(※), url("../fonts/Pretendard-Regular.subset.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pretendard-comb-type";
  src: url("../fonts/national-2-regular.woff2") format("woff2");
  unicode-range: U+0020-007E;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "normalbatang";
  src: url("../fonts/NormalBatang-Regular.woff") format("woff"),
    url("../fonts/NormalBatang-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
