@font-face {
  font-family: "pretendard-regular";
  src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "national";
  src: url("../fonts/national-2-regular.woff2") format("woff2");
}

@font-face {
  font-family: "normalbatang";
  src: url("../fonts/NormalBatang-Regular.woff") format("woff"),
    url("../fonts/NormalBatang-Regular.eot") format("embedded-opentype");
}

@font-face {
  font-family: "AGChoijeonghoMinburiStd";
  font-weight: 400;
  src: url("../fonts/AGChoijeonghoMinburiStd.woff2") format("woff2");
  src: local(※), url("../fonts/AGChoijeonghoMinburiStd.woff") format("woff");
}

@font-face {
  font-family: "AGChoijeonghoMinburiStd";
  font-weight: 500;
  src: url("../fonts/AGChoijeonghoMinburiStdMedium.woff2") format("woff2");
}

@font-face {
  font-family: "AGChoijeonghoMinburiStd";
  font-weight: 600;
  src: url("../fonts/AGChoijeonghoMinburiStdBold.woff2") format("woff2");
  src: local(※), url("../fonts/AGChoijeonghoMinburiStdBold.woff") format("woff");
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 432px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 720px) and (max-width: 959px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1999px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 2vw;
  }
}

html,
body {
  font-family: "national", "pretendard-regular", sans-serif;
  overflow-x: hidden;
}

html {
  color: #222;
}

::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@media print {
  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

html,
html.touch,
html.no-touch,
#html-wrapper {
  margin-top: 0px !important;
}

#js,
html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

article,
div,
fieldset,
figure,
form,
footer,
header,
nav,
section {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

a {
  outline: none !important;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ol,
ul,
blockquote {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

img,
video,
iframe {
  max-width: 100%;
  max-height: none;
  height: auto;
  width: auto;
}

mark {
  background-color: transparent;
}

ul,
li {
  list-style: none;
}

input,
button,
textarea {
  outline: none !important;
}

p:empty {
  display: none !important;
}

.u-figure {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}

.u-figure img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  opacity: 0;
}

@media screen and (min-width: 432px) {
  .u-figure img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 720px) {
  .u-figure img {
    width: calc(100% - 2rem);
    object-fit: contain;
  }
}

.u-figure video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0;
}

.u-figure.state-media-loaded img {
  opacity: 1;
}

.u-figure.state-media-loaded video {
  opacity: 1;
}

.state-site-loaded .u-figure img {
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.state-site-loaded .u-figure video {
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.c-paragraph,
.c-heading,
.scope-text h1,
.scope-text h2,
.scope-text h3,
.scope-text h4,
.scope-text h5,
.scope-text h6,
.scope-text p,
.scope-text ul,
.scope-text ol,
.home-header__logo,
.home-header__box__instagram,
.home-header__box__recommend,
.home-header__box__form__toggle,
.home-header__box__form form .mc-field-group input,
.home-header__box__form form .button,
.nav__select__text,
.nav__th,
.project__tr,
.value__td,
.value__td *,
.caption,
.caption__image,
.c-form__heading,
.c-form__label,
.c-form__input,
.c-form__textarea,
.c-form__note,
.c-form .wpcf7-submit,
.c-form span.wpcf7-not-valid-tip,
body div.wpcf7-mail-sent-ok,
.c-content__close {
  display: block;
  font-family: "national", "pretendard-regular", sans-serif;

  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.675;
  letter-spacing: -0.08px;
  color: #111;
}

.scope-text p,
h3 {
  word-break: keep-all;
}

.scope-text p {
}

.c-paragraph--small,
.home-header__box__instagram,
.home-header__box__recommend,
.home-header__box__form__toggle,
.home-header__box__form form .mc-field-group input,
.home-header__box__form form .button,
.c-form__note,
.c-form span.wpcf7-not-valid-tip {
  font-size: 0.8125rem;
}

.c-paragraph--bold,
.c-form__heading {
  font-weight: 700;
}

.c-paragraph--large,
.scope-text--large h1,
.scope-text--large h2,
.scope-text--large h3,
.scope-text--large h4,
.scope-text--large h5,
.scope-text--large h6,
.scope-text--large p,
.scope-text--large ul,
.scope-text--large ol {
  font-size: 1.25rem;
  line-height: 1.6;
}

@media screen and (min-width: 720px) {
  .c-paragraph--large,
  .scope-text--large h1,
  .scope-text--large h2,
  .scope-text--large h3,
  .scope-text--large h4,
  .scope-text--large h5,
  .scope-text--large h6,
  .scope-text--large p,
  .scope-text--large ul,
  .scope-text--large ol {
    font-size: 1.375rem;
  }
}

.c-heading {
  letter-spacing: -0.04em;
  font-weight: 700;
  padding-bottom: 0;
}

.scope-text h1,
.scope-text h2,
.scope-text h3,
.scope-text h4,
.scope-text h5,
.scope-text h6,
.scope-text ul,
.scope-text ol {
  padding-bottom: 1em;
}

.scope-text p {
  padding-bottom: 1em;
}
.scope-text p:last-child {
  padding-bottom: 1em;
}

@media screen and (min-width: 720px) {
  .scope-text p:last-child {
    padding-bottom: 4em;
  }
}

.scope-text h1 em,
.scope-text h1 i,
.scope-text h2 em,
.scope-text h2 i,
.scope-text h3 em,
.scope-text h3 i,
.scope-text h4 em,
.scope-text h4 i,
.scope-text h5 em,
.scope-text h5 i,
.scope-text h6 em,
.scope-text h6 i,
.scope-text p em,
.scope-text p i,
.scope-text ul em,
.scope-text ul i,
.scope-text ol em,
.scope-text ol i {
  font-style: none;
}

.scope-text h1 strong,
.scope-text h1 b,
.scope-text h2 strong,
.scope-text h2 b,
.scope-text h3 strong,
.scope-text h3 b,
.scope-text h4 strong,
.scope-text h4 b,
.scope-text h5 strong,
.scope-text h5 b,
.scope-text h6 strong,
.scope-text h6 b,
.scope-text p strong,
.scope-text p b,
.scope-text ul strong,
.scope-text ul b,
.scope-text ol strong,
.scope-text ol b {
  font-weight: bold;
}

.scope-text h1,
.scope-text h2,
.scope-text h3,
.scope-text h4,
.scope-text h5,
.scope-text h6 {
  padding-bottom: 0;
}

.scope-text a {
  position: relative;
}

/* .scope-text a:before {
  content: "";
  top: calc(100% + 0.25em);
  height: 0.0625rem;
  width: 100%;
  background-color: #000;
  top: calc(100% + 0em);
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: 1;
  position: absolute;
}

.no-touch .scope-text a:hover:before {
  opacity: 0;
} */

@media screen and (min-width: 720px) {
  .scope-text--small h1,
  .scope-text--small h2,
  .scope-text--small h3,
  .scope-text--small h4,
  .scope-text--small h5,
  .scope-text--small h6,
  .scope-text--small p,
  .scope-text--small ul,
  .scope-text--small ol {
    font-size: 0.8125rem;
  }
}

.scope-text--small span {
  display: none;
}

@media screen and (min-width: 720px) {
  .scope-text--small span {
    display: inline;
  }
}

.scope-text--large {
  max-width: 74rem;
}

.scope-text--large h1,
.scope-text--large h2,
.scope-text--large h3,
.scope-text--large h4,
.scope-text--large h5,
.scope-text--large h6,
.scope-text--large p,
.scope-text--large ul,
.scope-text--large ol {
  padding-bottom: 1em;
}

.scope-text--large h1:last-child,
.scope-text--large h2:last-child,
.scope-text--large h3:last-child,
.scope-text--large h4:last-child,
.scope-text--large h5:last-child,
.scope-text--large h6:last-child,
.scope-text--large p:last-child,
.scope-text--large ul:last-child,
.scope-text--large ol:last-child {
  padding-bottom: 0em;
}

body {
  background-color: #fff;
}

.main-wrapper {
  display: block;
  position: relative;
  background-color: #fff;
}

header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.home-header {
  padding: 1rem 0.75rem;
}

.home-header__logo {
  display: inline;
  letter-spacing: -0.02em;

  margin-top: -0.3125em;
  padding: 0;
  z-index: 10;
}

.home-header__logo.center {
}

.home-header .scope-text {
  padding: 1rem 0;
  max-width: 100%;
}

@media screen and (min-width: 720px) {
  .home-header .scope-text {
    padding: 2.5rem 0;
    max-width: 23rem;
  }
}

@media screen and (min-width: 960px) {
  .home-header .scope-text {
    max-width: 23rem;
  }
}

@media screen and (min-width: 432px) {
  .home-header {
    padding: 1rem;
  }
}

@media screen and (min-width: 720px) {
  header {
    flex-direction: row;
  }

  .home-header {
    position: relative;
    padding: 1rem 1rem 3rem 1rem;
  }
}

@media screen and (min-width: 960px) {
  .home-header {
    position: relative;
    padding: 1rem 1rem 3rem 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .home-header {
    position: relative;
    padding: 1rem 1rem 3rem 1rem;
  }
}

@media screen and (min-width: 100rem) {
  .home-header {
    position: relative;
    padding: 1rem 1rem 3rem 1rem;
  }
}

.home-header__box__recommend {
  box-sizing: border-box;
  width: 9.5rem;
  padding-left: 0.6875rem;
  white-space: nowrap;
  border-right: 0.0625rem solid #000;
  line-height: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: color 250ms, background-color 250ms;
  transition: color 250ms, background-color 250ms;
  font-size: 0.9375rem;
}

@media screen and (min-width: 720px) {
  .home-header__box__recommend {
    width: 8.5rem;
    font-size: 0.8125rem;
  }
}

.home-header__box__form {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.home-header__box__form__toggle {
  font-size: 0.9375rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 0 1.6875rem;
  line-height: 1.1em;
}

@media screen and (min-width: 720px) {
  .home-header__box__form__toggle {
    font-size: 0.8125rem;
    padding: 0.5625rem 0.5rem 0 1.6875rem;
    line-height: 1.2em;
  }
}

.state-submitted .home-header__box__form__toggle {
  padding: 0.5625rem 0.5rem 0 0.6875rem;
}

.state-submitted .home-header__box__form__toggle:before {
  display: none !important;
}

.home-header__box {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  border: 0.0625rem solid #333;
  width: 100%;
  max-width: 24rem;
  padding-left: 9.5rem;
  height: 5.125rem;
}

.home-header__box__instagram {
  box-sizing: border-box;
  width: 9.5rem;
  padding-left: 0.6875rem;
  white-space: nowrap;
  border-right: 0.0625rem solid #333;
  line-height: 2.5rem;
  height: 2.55rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: color 250ms, background-color 250ms;
  transition: color 250ms, background-color 250ms;
  font-size: 0.9375rem;
}

.home-header__box__recommend {
  box-sizing: border-box;
  width: 9.5rem;
  padding-left: 0.6875rem;
  white-space: nowrap;
  border-right: 0.0625rem solid #333;
  line-height: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: color 250ms, background-color 250ms;
  transition: color 250ms, background-color 250ms;
  font-size: 0.9375rem;
}

@media screen and (min-width: 720px) {
  .home-header__box {
    margin-bottom: 2.75rem;
    margin-top: 0.25rem;
    padding-left: 8.5rem;
  }

  .home-header__box__instagram {
    width: 8.5rem;
    font-size: 0.8125rem;
  }
  .home-header__box__recommend {
    width: 8.5rem;
    font-size: 0.8125rem;
  }
}

@media screen and (min-width: 960px) {
  .home-header__box {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    right: 1.625rem;
    top: 1.625rem;
  }
}

@media screen and (min-width: 80rem) {
  .home-header__box {
    right: 1.625rem;
    top: 1.625rem;
  }
}

@media screen and (min-width: 100rem) {
  .home-header__box {
    right: 1.625rem;
    top: 1.625rem;
  }
}

.home-header__box:after {
  content: "";
  top: 50%;
  width: 9.5rem;
  height: 0.0625rem;
  position: absolute;
  left: 0;
  background-color: #333;
}

@media screen and (min-width: 720px) {
  .home-header__box:after {
    width: 8.5rem;
  }
}

.home-header__box__form__toggle:before {
  content: "";
  box-sizing: border-box;
  width: 0.625rem;
  height: 0.625rem;
  background-color: white;
  border: 0.0625rem solid #333;
  position: absolute;
  top: 0.6875rem;
  left: 0.6875rem;
}

.no-touch .home-header__box__recommend:hover {
  background-color: darkolivegreen;
  color: white;
}

.no-touch .home-header__box__instagram:hover {
  background-color: darkolivegreen;
  color: white;
}

.no-touch .home-header__box__form__toggle:hover:before {
  background-color: darkolivegreen;
}

.home-header__box__form__toggle span:first-child {
  display: none;
}

@media screen and (min-width: 720px) {
  .home-header__box__form__toggle span:first-child {
    display: inline;
  }
}

.home-header__box__form__toggle span:last-child {
  display: inline;
}

@media screen and (min-width: 720px) {
  .home-header__box__form__toggle span:last-child {
    display: none;
  }
}

.home-header__box__form form {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  display: none;
}

.show-form .home-header__box__form form {
  display: block;
}

.state-submitted .home-header__box__form form {
  display: none;
}

.home-header__box__form form .mc-field-group {
  height: 3rem;
  line-height: 3rem;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
}

.home-header__box__form form .mc-field-group label {
  display: none;
}

.home-header__box__form form .mc-field-group input {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 0.6875rem;
  border: none !important;
  font-size: 0.9375rem;

  height: 2.5rem;
  line-height: 2.5rem;

  background: #54692f0b;
}

@media screen and (min-width: 720px) {
  .home-header__box__form form .mc-field-group input {
    font-size: 0.8125rem;
  }
}

.home-header__box__form form .button {
  border: none !important;
  line-height: 2.5rem;
  height: 2.5rem;
  background-color: #333;
  color: white;
  text-align: left;
  padding-left: 0.6875rem;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.9375rem;

  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .home-header__box__form form .button {
    font-size: 0.8125rem;
  }
}

.home-header__box__form form ::-webkit-input-placeholder {
  color: #000;
}

.home-header__box__form form :-ms-input-placeholder {
  color: #000;
}

.home-header__box__form form ::-moz-placeholder {
  color: #000;
}

.home-header__box__form form ::-ms-input-placeholder {
  color: #000;
}

.home-header__box__form form ::placeholder {
  color: #000;
}

.load {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 9999;
  background-color: darkolivegreen;
  color: #fff;

  font-size: 1rem;
  letter-spacing: -0.02em;

  padding: 1rem;
}

@media screen and (max-width: 479px) {
  .load {
    padding: 1rem 0.75rem;
  }
}

.state-site-loaded .load {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 250ms linear 250ms, visibility 0ms linear 500ms;
  transition: opacity 250ms linear 250ms, visibility 0ms linear 500ms;
}

/* status bar */

aside {
  display: none;
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 0.75px;
  width: 50%;

  position: fixed;
  top: 1.5rem;
  transform: translateX(-50%);
  left: 50%;

  background: #333;
  mix-blend-mode: darken;

  z-index: 1;
}

.status-text {
  font-size: 0.75rem;
  margin: 0 -2.25rem;
  color: #d0d0d0;

  display: none;
}

.status-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fcfcfc;
  transition: background 0.125s ease;
}

@media screen and (max-width: 479px) {
  .status {
    height: 1px;
    width: calc(50% - 3rem);
  }

  .status-text {
    margin: 0 -1.75rem;
    font-size: 0.5rem;
    letter-spacing: 0.25px;
  }
}

#index {
  overflow: hidden;
}

.nav__select select {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.01;
  z-index: 100;
}

.nav__th--desktop {
  display: none;
}

@media screen and (min-width: 720px) {
  .nav__th {
    margin: 0;
  }

  .nav__th--desktop {
    display: block;
  }
}

.nav__th--mobile {
  padding: 0.75em 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;

  border-bottom: 0.2px solid #dddddd;
}

@media screen and (min-width: 432px) {
  .nav__th--mobile {
    padding: 0.75em 1rem;
  }
}

@media screen and (min-width: 720px) {
  .nav__th--mobile {
    display: none;
  }
}

/* .project__tr */

.project__tr:nth-child(even) {
  background: #54692f0b;
}

a.state-accordion-open {
  opacity: 0.4;
}

.project__tr:last-child {
  margin-bottom: 4vh;
}

.project__tr:before {
  content: "";
  top: 1.5rem;
  height: 0.1rem;
  width: 0.875rem;
  background: #333 !important;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  right: 0.75rem;
}

@media screen and (min-width: 432px) {
  .project__tr:before {
    right: 1rem;
  }
}

@media screen and (min-width: 720px) {
  .project__tr:before {
    left: 1.0625rem;
    top: 1.125rem;

    width: 10px;
    height: 1.2px;
  }
}

@media screen and (min-width: 960px) {
  .project__tr:before {
    left: 1.0625rem;
    top: 1.125rem;
  }
}

@media screen and (min-width: 80rem) {
  .project__tr:before {
    left: 1.0625rem;
    top: 1.175rem;

    width: 0.5rem;
    height: 0.0625rem;
  }
}

@media screen and (min-width: 100rem) {
  .project__tr:before {
    left: 1.0625rem;
    top: 1.175rem;
  }
}

.project__tr:after {
  content: "";
  top: 1.5rem;
  height: 0.1rem;
  width: 0.875rem;
  background-color: #333 !important;
  position: absolute;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  right: 0.75rem;
}

@media screen and (min-width: 432px) {
  .project__tr:after {
    right: 1rem;
  }
}

@media screen and (min-width: 720px) {
  .project__tr:after {
    left: 1.0625rem;
    top: 1.125rem;

    width: 10px;
    height: 1.2px;
  }
}

@media screen and (min-width: 960px) {
  .project__tr:after {
    left: 1.0625rem;
    top: 1.125rem;
  }
}

@media screen and (min-width: 80rem) {
  .project__tr:after {
    left: 1.0625rem;
    top: 1.175rem;

    width: 0.5rem;
    height: 0.0625rem;
  }
}

@media screen and (min-width: 100rem) {
  .project__tr:after {
    left: 1.0625rem;
    top: 1.175rem;
  }
}

.project__tr.state-accordion-open:before {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.project__tr.state-accordion-open:after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav__th--desktop .project__details {
  border-bottom: 0.5px solid #ccc;
}

.value__td {
  position: relative;
  display: block;
  width: 100%;
  text-transform: capitalize;
}

.value__td span {
  margin: 0.675rem 0.5rem 0;

  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}

@media screen and (min-width: 720px) {
  .value__td span {
    margin: 0.675rem 0.625rem 0;

    width: 0.425rem;
    height: 0.425rem;
  }
}
/* 
.value__td span.website {
  background: gainsboro;
}

.value__td span.graphic {
  background: saddlebrown;
}

.value__td span.appservice {
  background: silver;
}

.value__td span.editorial {
  background: darkcyan;
}

.value__td span.document {
  background: darkgray;
}

.value__td span.font {
  background: silver;
}

.value__td span.another {
  background: silver;
}

.value__td span.article {
  background: silver;
} */

.project__icon {
  margin-top: 0.25rem;
}

@media screen and (min-width: 720px) {
  .project__icon {
    margin-top: 0;
    transform: translateY(-0.125rem);
  }
}

.project__icon span {
  font-size: 75%;
  text-transform: capitalize;

  margin-top: 3rem;
  padding: 0.25rem 0.5rem;

  color: orangered;
  border: 1px dashed orangered;
  border-radius: 1rem;
}

@media screen and (min-width: 720px) {
  .project__icon span {
    padding: 0.2rem 0.625rem;
  }
}

.value__td--tag {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}

@media screen and (min-width: 720px) {
  .value__td--title * {
    white-space: nowrap;
  }
}

@media screen and (min-width: 720px) {
  .value__td {
    width: auto;
    white-space: nowrap;
  }
}

a.value__td:after {
  content: "↑";
  margin-left: 0.5rem;
  margin-top: 0.125rem;

  opacity: 0.25;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;

  font-size: 90%;
}

.no-touch a.value__td:hover:after {
  opacity: 1;
}

a.value__td.state-active-asc:after {
  content: "↑";
  margin-left: 0.5rem;
  margin-top: 0.125rem;

  color: #333;
  opacity: 1;
}

a.value__td.state-active-dsc:after {
  content: "↓";
  margin-left: 0.5rem;
  margin-top: 0.125rem;

  color: #333;
  opacity: 1;
}

.project__details {
  display: block;
  position: relative;
  padding: 0.75em 1rem;

  -webkit-tap-highlight-color: #eeeeee75;
}

.project__details:hover,
.project__details:focus,
.project__details:active {
  background: #54692f0b;
}

@media screen and (min-width: 432px) {
  .project__details {
    padding: 0.75em 1rem;
  }
}

@media screen and (min-width: 720px) {
  .project__details {
    padding: 0.375rem 3rem;
  }
}

@media screen and (min-width: 960px) {
  .project__details {
    padding: 0.375rem 3.5rem;
  }
}

@media screen and (min-width: 80rem) {
  .project__details {
    padding: 0.375rem 4rem;
  }
}

@media screen and (min-width: 100rem) {
  .project__details {
    padding: 0.375rem 4rem;
  }
}

.project__details__inner {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .project__details__inner {
    display: -webkit-box;
    display: flex;
  }
}

.caption {
  padding: 0 0.75rem 2rem;
  border-bottom: 0.2px solid #dddddd;
}

@media screen and (min-width: 432px) {
  .caption {
    padding: 0 1rem 1rem;
  }
}

@media screen and (min-width: 720px) {
  .caption {
    padding: 2rem 3rem 4rem;
    display: -webkit-box;
    display: flex;
  }
}

@media screen and (min-width: 960px) {
  .caption {
    padding: 2rem 3.5rem 4rem;
  }
}

@media screen and (min-width: 80rem) {
  .caption {
    padding: 2rem 4rem 5rem;
  }
}

@media screen and (min-width: 100rem) {
  .caption {
    padding: 2rem 4rem 6rem;
  }
}

.caption__image {
  margin-bottom: 0.75rem;
  width: 100% !important;
}

.caption__image__inner {
  width: 100%;
  position: relative;
}

.caption__image__inner img {
  padding-bottom: 0.75rem;
}

@media screen and (min-width: 720px) {
  .caption__image__inner {
    padding-right: 1.5rem;
  }
  .caption__image__inner img {
    padding-bottom: 1rem;
  }
  .caption__image {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 960px) {
  .caption__image__inner {
    padding-right: 1.75rem;
  }
}

@media screen and (min-width: 80rem) {
  .caption__image__inner {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 100rem) {
  .caption__image__inner {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 720px) {
  .caption__text {
    /* display: -webkit-box;
    display: flex; */
    flex-wrap: wrap;
    margin-top: -0.5rem;
  }
}

.caption__text__heading {
  position: relative;
  display: block;
  width: 100%;
}

.caption__text__content {
  position: relative;
  display: block;
  width: 100%;
}

.caption__text__clear {
  position: relative;
  display: block;
  width: 100%;
}

.caption__text__clear a {
  font-size: 90%;
  text-transform: capitalize;

  padding: 0.25rem 0.675rem;
  border: 1.2px dashed #222;
}

.caption__text__button {
  display: inline-block;

  border: 1.5px dashed darkolivegreen;
  border-radius: 3rem;

  -webkit-transition: background-color 250ms, color 250ms;
  transition: background-color 250ms, color 250ms;
  padding: 0 1rem;

  height: 2.625rem;
  line-height: 2.5rem;

  font-size: 100%;
  text-decoration: none !important;
}

@media screen and (min-width: 720px) {
  .caption__text__button {
    height: 2.375rem;
    line-height: 2.25rem;

    padding: 0 0.875rem;

    font-size: 90%;
  }
}

.no-touch .caption__text__button:hover {
  background-color: darkolivegreen;
  color: white;
}

.caption__text__button:before {
  display: none !important;
}

.caption__text__button:after {
  display: none !important;
}

.caption__info {
  font-family: "normalbatang", serif !important;
  font-size: 95% !important;
}

.scope-text p {
  width: fit-content;
}

.scope-text h4 {
  width: 100%;
  word-break: keep-all;
  margin-bottom: 0.75rem;

  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-position: under;
}

.scope-text h4::after {
  content: " ";
}

@media screen and (min-width: 720px) {
  .scope-text p {
    width: 87.5%;
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0.75rem;
  margin: 0 0 2rem;
}

@media screen and (min-width: 432px) {
  .footer-wrapper {
    padding: 1rem;
  }
}

@media screen and (min-width: 720px) {
  .footer-wrapper {
    padding: 1rem;
    margin: 0 0 1rem;
  }
}

.footer-inner {
  display: flex;
  flex-direction: column;
  font-size: 90%;
  line-height: 1.75;
}

.footer-inner:nth-child(1) {
  margin-right: 2rem;
}

.footer-inner:nth-child(2) {
  flex-basis: 100%;
}

.footer-inner a {
  position: relative;
  width: 100%;
}

.footer-inner a:nth-child(odd) {
  background: #54692f0b;
}

/* 
.footer-inner a:before {
  content: "";
  top: calc(100% + 0.25em);
  height: 0.0625rem;
  width: 100%;
  background-color: #333;
  top: calc(100% + 0em);
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: 1;
  position: absolute;
}

.no-touch .footer-inner a:hover:before {
  opacity: 0;
} */

.c-form {
  padding: 0 0.75rem 1rem;
}

@media screen and (min-width: 432px) {
  .c-form {
    padding: 0 1rem 1.25rem;
  }
}

@media screen and (min-width: 720px) {
  .c-form {
    padding: 0 1.25rem 1.25rem;
  }
}

@media screen and (min-width: 960px) {
  .c-form {
    padding: 0 1.625rem 1.625rem;
  }
}

@media screen and (min-width: 80rem) {
  .c-form {
    padding: 0 1.625rem 1.625rem;
  }
}

@media screen and (min-width: 100rem) {
  .c-form {
    padding: 0 1.625rem 1.625rem;
  }
}

.c-form__section {
  width: calc(100% + 1.75rem);
  margin-left: -0.875rem;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 720px) {
  .c-form__section {
    width: calc(66.666% + 1.1655rem);
    max-width: 45rem;
  }
}

@media screen and (min-width: 80rem) {
  .c-form__section {
    padding-left: 6.875rem;
  }
}

.c-form__col {
  padding: 1rem 0.875rem 0;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .c-form__col {
    padding: 1.5rem 0.875rem 0;
  }
}

@media screen and (min-width: 960px) {
  .c-form__col {
    padding: 1.5rem 0.875rem 0 6.875rem;
  }
}

@media screen and (min-width: 720px) {
  .c-form__col--1-2 {
    width: 50%;
  }
}

.c-form__heading {
  padding-top: 1.5rem;
  padding-left: 0.875rem;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .c-form__heading {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 80rem) {
  .c-form__heading {
    position: absolute;
    left: 0rem;
    top: 0;
    line-height: 2rem;
  }
}

.c-form__label {
  padding-top: calc(1rem - 0.7em);
  padding-bottom: calc(1rem - 0.7em);
}

@media screen and (min-width: 960px) {
  .c-form__label {
    position: absolute;
    left: 0.875rem;
    max-width: 6rem;
    top: calc(50% + 0.75rem);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1.2em;
  }
}

@media screen and (min-width: 960px) {
  .c-form__label--text-area {
    top: 2.5rem;
  }
}

.c-form__input {
  border: 1px solid #000;
  padding: 0.25rem;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

.c-form__textarea {
  border: 1px solid #000;
  padding: 0.25rem;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  height: 10rem;
  border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

.c-form br {
  display: none;
}

.c-form__rule {
  height: 1px;
  background-color: #000;
  width: calc(100% + 1.5rem);
  margin-left: -0.75rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 432px) {
  .c-form__rule {
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }
}

@media screen and (min-width: 720px) {
  .c-form__rule {
    width: calc(100% + 2.5rem);
    margin-left: -1.25rem;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 960px) {
  .c-form__rule {
    width: calc(100% + 3.25rem);
    margin-left: -1.625rem;
  }
}

@media screen and (min-width: 80rem) {
  .c-form__rule {
    width: calc(100% + 3.25rem);
    margin-left: -1.625rem;
  }
}

@media screen and (min-width: 100rem) {
  .c-form__rule {
    width: calc(100% + 3.25rem);
    margin-left: -1.625rem;
  }
}

.c-form__note {
  padding-top: 0.25rem;
}

@media screen and (min-width: 720px) {
  .c-form__note {
    padding-top: 0;
    position: absolute;
    top: calc(50% + 1.75rem);
    left: calc(100% + 0.875rem);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: calc(100% - 1.75rem);
  }
}

@media screen and (min-width: 960px) {
  .c-form__note {
    top: calc(50% + 0.875rem);
  }
}

@media screen and (min-width: 720px) {
  .c-form__note--text-area {
    top: auto;
    bottom: 0;
    max-width: 8rem;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  .c-form__note--text-area span {
    white-space: nowrap;
  }
}

.c-form .wpcf7-submit {
  display: inline-block;
  line-height: 2.25rem;
  border: 1px solid #000;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-transition: background-color 250ms, color 250ms;
  transition: background-color 250ms, color 250ms;
}

.no-touch .c-form .wpcf7-submit:hover {
  background-color: #000;
  color: white;
}

.c-form span.wpcf7-not-valid-tip {
  width: 100%;
  position: absolute;
  line-height: 1em;
  top: calc(100% + 0.125rem);
}

.c-form span.wpcf7-form-control-wrap {
  display: block;
  position: relative;
}

.c-form .wpcf7-response-output.wpcf7-validation-error {
  display: none;
}

body div.wpcf7-mail-sent-ok {
  padding: 1rem 0.75rem 1rem;
  border: none !important;
  margin: 0 !important;
}

@media screen and (min-width: 432px) {
  body div.wpcf7-mail-sent-ok {
    padding: 1.25rem 1rem 1.25rem;
  }
}

@media screen and (min-width: 720px) {
  body div.wpcf7-mail-sent-ok {
    padding: 1.25rem;
  }
}

@media screen and (min-width: 960px) {
  body div.wpcf7-mail-sent-ok {
    padding: 1.625rem;
  }
}

@media screen and (min-width: 80rem) {
  body div.wpcf7-mail-sent-ok {
    padding: 1.625rem;
  }
}

@media screen and (min-width: 100rem) {
  body div.wpcf7-mail-sent-ok {
    padding: 1.625rem;
  }
}

body div.wpcf7-mail-sent-ok:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 1px;
  background-color: #000;
}

.c-content {
  padding: 0 0.75rem 1rem;
  min-height: calc(100vh - 8.8125rem);
}

@media screen and (min-width: 432px) {
  .c-content {
    padding: 0 1rem 1.25rem;
  }
}

@media screen and (min-width: 720px) {
  .c-content {
    padding: 0 1.25rem 1.25rem;
    min-height: calc(100vh - 12.5rem);
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

@media screen and (min-width: 960px) {
  .c-content {
    padding: 0 1.625rem 1.625rem;
    min-height: calc(100vh - 13rem);
  }
}

@media screen and (min-width: 80rem) {
  .c-content {
    padding: 0 1.625rem 1.625rem;
  }
}

@media screen and (min-width: 100rem) {
  .c-content {
    padding: 0 1.625rem 1.625rem;
  }
}

.c-content__text {
  padding-bottom: 1rem;
}

@media screen and (min-width: 432px) {
  .c-content__text {
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 720px) {
  .c-content__text {
    padding-bottom: 2.5rem;
  }
}

.c-content__clear {
  display: block;
  height: 1px;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .c-content__films {
    display: -webkit-box;
    display: flex;
    max-width: 43.75rem;
    width: 100%;
  }
}

.c-content__films__list {
  position: relative;
  display: block;
  padding-bottom: 1rem;
}

@media screen and (min-width: 432px) {
  .c-content__films__list {
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 720px) {
  .c-content__films__list {
    padding-bottom: 0;
    width: 50%;
  }
}

.c-content__films__list:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 720px) {
  .c-content__films__list__heading {
    padding-bottom: 1.4em !important;
  }
}

.c-content__films__list__ol {
  padding-bottom: 0 !important;
}

.c-content__films__list__item {
  padding-left: 2.25rem;
  position: relative;
  display: block;
}

@media screen and (min-width: 720px) {
  .c-content__films__list__item {
    margin-left: 2.25rem;
  }
}

.c-content__films__list__item:before {
  content: "1.";
  position: absolute;
  top: 0;
  left: 0;
}

.c-content__films__list__item:nth-child(1):before {
  content: "1.";
}

.c-content__films__list__item:nth-child(2):before {
  content: "2.";
}

.c-content__films__list__item:nth-child(3):before {
  content: "3.";
}

.c-content__films__list__item:nth-child(4):before {
  content: "4.";
}

.c-content__films__list__item:nth-child(5):before {
  content: "5.";
}

.c-content__films__list__item:nth-child(6):before {
  content: "6.";
}

.c-content__films__list__item:nth-child(7):before {
  content: "7.";
}

.c-content__films__list__item:nth-child(8):before {
  content: "8.";
}

.c-content__films__list__item:nth-child(9):before {
  content: "9.";
}

.c-content__close {
  position: absolute;
  font-size: 2.5rem;
  margin-bottom: -0.25em;
  right: 0.75rem;
  bottom: 0.75rem;
}

@media screen and (min-width: 432px) {
  .c-content__close {
    right: 1rem;
    bottom: 1rem;
  }
}

@media screen and (min-width: 720px) {
  .c-content__close {
    font-size: 4.0625rem;
    right: 1.25rem;
    bottom: 1.25rem;
    display: block;
  }
}

@media screen and (min-width: 960px) {
  .c-content__close {
    right: 1.625rem;
    bottom: 1.625rem;
  }
}

@media screen and (min-width: 80rem) {
  .c-content__close {
    right: 1.625rem;
    bottom: 1.625rem;
  }
}

@media screen and (min-width: 100rem) {
  .c-content__close {
    right: 1.625rem;
    bottom: 1.625rem;
  }
}

body {
  --plyr-color-main: $clr-text;
}

.c-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0ms linear 400ms, opacity 400ms;
  transition: visibility 0ms linear 400ms, opacity 400ms;
}

.c-video.state-video-active {
  -webkit-transition: visibility 0ms linear 0ms, opacity 400ms;
  transition: visibility 0ms linear 0ms, opacity 400ms;
  visibility: visible;
  opacity: 1;
}

.c-video__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% - 2rem);
  height: calc(100% - 6rem);
}

@media screen and (min-width: 720px) {
  .c-video__inner {
    width: calc(100% - 2.5rem);
    height: calc(100% - 7.5rem);
  }
}

@media screen and (min-width: 960px) {
  .c-video__inner {
    width: calc(100% - 3.25rem);
    height: calc(100% - 9.75rem);
    max-width: 62.5%;
  }
}

.c-video__wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.c-video__close-overlay {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.c-video__close {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  position: absolute;
  right: 1rem;
  top: calc(1.9375rem - 0.75rem);
  right: 1rem;
  display: none;
}

@media screen and (min-width: 720px) {
  .c-video__close {
    top: 1.25rem;
    right: 1.25rem;
  }
}

@media screen and (min-width: 960px) {
  .c-video__close {
    top: 1.625rem;
    right: 1.25rem;
  }
}

.c-video__close__line {
  position: absolute;
  height: 0.1875rem;
  width: 1.5626rem;
  background-color: #000;
  -webkit-transform: top 400ms, transform 400ms;
  transform: top 400ms, transform 400ms;
}

.c-video__close__line--top {
  top: 0.6875rem;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.c-video__close__line--bottom {
  top: 0.6875rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

body .plyr__control.plyr__control--overlaid {
  width: 3rem !important;
  height: 3rem !important;
  background-image: url("../img/play.svg") !important;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  opacity: 1 !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0px !important;
}

@media screen and (min-width: 720px) {
  body .plyr__control.plyr__control--overlaid {
    width: 5.25rem !important;
    height: 5.25rem !important;
  }
}

body .plyr__control.plyr__control--overlaid * {
  display: none !important;
}

.u-m-show {
  display: none;
}

@media screen and (min-width: 720px) {
  .u-m-show {
    display: block;
  }
}

.u-m-show--flex {
  display: none;
}

@media screen and (min-width: 720px) {
  .u-m-show--flex {
    display: -webkit-box;
    display: flex;
  }
}

.u-m-hide {
  display: block;
}

@media screen and (min-width: 720px) {
  .u-m-hide {
    display: none;
  }
}

.u-m-hide--flex {
  display: -webkit-box;
  display: flex;
}

@media screen and (min-width: 720px) {
  .u-m-hide--flex {
    display: none;
  }
}

.u-l-show {
  display: none;
}

@media screen and (min-width: 960px) {
  .u-l-show {
    display: block;
  }
}

.u-l-show--flex {
  display: none;
}

@media screen and (min-width: 960px) {
  .u-l-show--flex {
    display: -webkit-box;
    display: flex;
  }
}

.u-l-hide {
  display: block;
}

@media screen and (min-width: 960px) {
  .u-l-hide {
    display: none;
  }
}

.u-l-hide--flex {
  display: -webkit-box;
  display: flex;
}

@media screen and (min-width: 960px) {
  .u-l-hide--flex {
    display: none;
  }
}
