@charset "utf-8";
/* CSS Document */
/* VARIABLES
================================================== */
:root {
  --main: 12px;
  --gap: 10px;

  --smokeblack: #111;

  --lightgray: #ebebec;
  --darkgray: #a6a2a0;

  --font: "national", "SUIT", "pretendard", sans-serif;
}
::selection {
  background-color: transparent;
  color: #363636;
}
::-webkit-scrollbar {
  display: none;
}
/* MAIN
================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body,
div,
span,
header,
footer,
section,
article,
aside,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
i,
s,
address,
sub,
sup,
form,
label,
iframe,
embed,
audio {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: var(--font);
}
html {
  padding: env(safe-area-inset);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  counter-reset: footnotes;

  position: relative;

  font-family: var(--font);
  font-size: var(--main);
  line-height: var(--main);
  letter-spacing: 0.3px;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

body.dark {
  background-color: var(--smokeblack);
  transition: background-color 0.5s;
}
body.dark .nav {
  color: inherit !important;
}
body.white {
  background-color: white;
  transition: background-color 0.5s;
}
body.dark .gallery {
  color: white;
}
body.dark .project {
  color: white;
}

body.dark .info-inside {
  color: white;
}
body.dark #index {
  color: white;
}
body.dark #index a {
  color: white;
}
body.dark #index-container {
  color: white;
}
body.dark #index-container a {
  color: white;
}
body.dark footer {
  color: white;
}
#index-container .project.zindex {
  z-index: -1 !important;
}
#index-container .project.up {
  z-index: 1000 !important;
}

#index-container .project.active {
  border-color: blue;
}

body.dark #mode {
  background-color: white;
}
body.dark #mode a {
  display: none;
}

body.dark #mode span {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 1.1;
}
ol,
ul,
li {
  list-style: none;
}
img,
video {
  display: block;
  width: 100%;
  height: auto;
}
a {
  position: relative;
  color: black;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.1;
}

figure {
  margin: 0;
  padding: 0;
}

#index-container a {
  cursor: pointer !important;
}

.active {
  background-color: khaki !important;
}

sup {
  vertical-align: text-top;
  font-size: smaller;

  color: darkgray;
}

body.dark sup {
  color: dimgray;
}

sup > mark {
  background-color: transparent;
  color: black;
}

sup > span {
  margin: 0 0.125rem;
}

body.dark sup > mark {
  color: white;
}

.justify-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.justify-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.align-end {
  align-items: end !important;
}

/* .gallery-container > .project:nth-child(odd) > a {
  background: #f8f8f8;
} */

/* INTRO
================================================== */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #060606;

  z-index: 100000 !important;
}

.card {
  position: absolute;
  transform: translate(-50%, -50%);

  left: 50%;
  top: calc(50%);
  background: #000;
  color: lightgray;

  padding: 1rem 1.25rem;
  border-radius: 2.5px;
  box-shadow: rgba(133, 133, 133, 0.25) 0px 0.0625em 0.0625em,
    rgba(133, 133, 133, 0.25) 0px 0.125em 0.5em,
    rgba(96, 96, 96, 0.1) 0px 0px 0px 1px inset;
  /* font-kerning: none; */
}

.i-name {
  margin: 0 0 0.625rem;
}

.i-name-row {
  min-width: 220px;
  font-size: 0;
  overflow: hidden;
}

.i-name-row span.split {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-block;

  font-size: 100%;
  font-size: 0.95rem;
  letter-spacing: 1px;
  line-height: 1.4;

  opacity: 0;
}

.intro-project-wrap {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.i-project {
  display: flex;
  align-items: center;

  /* background: whitesmoke;
  box-shadow: 0 0 0 1px silver; */
  color: silver;

  border-radius: 2px;

  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1.4;
  text-transform: capitalize;

  transform: translateY(15%);
  opacity: 0;
}
.i-project > img {
  width: 1rem;
}

.i-project > a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;

  transition: color 0.125s;
}

.intro-project-wrap .card-btn {
  display: none;

  text-transform: uppercase;
  transition: color 0.125s;
  cursor: pointer;
}

.i-project > a:hover,
.card-btn:hover {
  color: white;
}

.i-project.keepdry {
  display: block;
  width: 1.25rem;
  height: 1.25rem;

  background: url(../images/favicon-keepdry-3@0.1x.jpg) 0 0 no-repeat;
  background-size: 600%;
  animation: gif steps(5) 1.5s infinite both;
}

@keyframes gif {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.line-text {
  opacity: 1;
}

@media screen and (max-width: 600px) {
}

/* ------- */

/* MENU
================================================== */

#header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  position: fixed;
  top: 10px;
  margin-bottom: 5px;
  grid-gap: 5px;
}
.blend {
  mix-blend-mode: luminosity;
  opacity: 0.5;
}
img.blendo {
  mix-blend-mode: none;
  opacity: 1;
}
img.blend {
  mix-blend-mode: luminosity;
  opacity: 0.2;
}
/* COLORS
================================================== */

.colors {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: grid;
  grid-gap: 10px;
  width: fit-content;
  z-index: 100;
}
.colors input {
  width: 15px;
  height: 15px;
  border-radius: 0px;
  border: 0px;
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
  margin: 0px;
  position: absolute;
}
.color {
  width: 15px;
  height: 15px;
}
.container input {
  position: inherit;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container .checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 100;
  background-color: #eee;
}
.filter {
  margin-bottom: 5px;
}
.categories {
  /* text-transform: uppercase; */
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 0px;
}
.dark {
  background-color: black;
}
.nav {
  position: sticky;

  top: 5px;
  padding: 5px;

  height: fit-content;
  background: #deded980;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 10 / span 3;

  font-size: 0.875rem;
  letter-spacing: -0.1px;
  text-transform: capitalize;
  border-radius: 2px;

  z-index: 10002;
}

.nav span,
.nav li,
.nav p,
.nav a,
.nav .nav-title,
.nav .open-menu,
.nav mark {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */

  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;

  transition: background-color 0.125s;
}

.categorie,
.nav-title,
.open-menu,
.index,
#lang,
.contact {
  cursor: pointer;
}

#lang {
}

#lang a,
#lang span {
  pointer-events: none;
}

body.eng .en,
body.kor .ko {
  display: inline-block;
}

body.eng .ko,
body.kor .en {
  display: none;
}

.index > p,
.index > span {
  display: inline-flex;
  align-items: center;
  line-height: 1.1;
}

.hidden .nav-section .index {
  display: flex;
  justify-content: space-between;

  background: lightskyblue;
}

body.dark .hidden .nav-section .index {
  background: lightskyblue;
}

.nav mark {
  background-color: initial;
  color: inherit;
}

/* body.eng .hidden .nav-section .index p.ko {
display: none;
}

body.eng .hidden .nav-section .index p.en {
display: inline-flex;
} */

.nav-title {
  background-color: white;
  border-radius: 2px;
  padding: 3px;
  grid-column: span 2;
}

body.dark .nav-title {
  background-color: #dadada;
}

.open-menu {
  grid-column: span 1;
  background-color: lightgray;
  border-radius: 2px;
  padding: 3px;
}

body.dark .open-menu {
  background-color: #b3b3b3;
}

.hidden {
  height: fit-content;
  grid-gap: 5px;
  display: grid;
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
}
.hidden .nav-section {
  display: grid;
  row-gap: 5px;
  height: fit-content;
}

.hidden .nav-section.nav-cate {
  display: grid;
  text-align: left;
  row-gap: 5px;
  height: fit-content;
}

.hidden .nav-section li,
.nav-title,
#grid,
.open-menu,
#mode {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.825rem;
}

.hidden .nav-section li.rrss {
  display: none;

  text-transform: lowercase;
}

.rrss > address {
}

.hidden .nav-section li {
  background-color: white;
  border-radius: 2px;
  padding: 3px;
}

.hidden .nav-section li#web,
.hidden .nav-section li#printing {
}

body.dark .hidden .nav-section li#web,
body.dark .hidden .nav-section li#printing {
}

.hidden .nav-section li#planning,
.hidden .nav-section li#collab {
  width: 100%;
  justify-self: end;
}

body.dark .hidden .nav-section li {
  background-color: #eeeeee;
}

#grid {
  height: fit-content;
  grid-column: span 1;
  background-color: papayawhip;
  background-color: wheat;
  color: black;
  border-radius: 2px;
  padding: 3px;

  cursor: pointer;
}

#mode {
  height: fit-content;
  grid-column: span 1;
  background-color: black;
  color: grey;
  border-radius: 2px;
  padding: 3px;

  cursor: pointer;
}
#mode a {
  pointer-events: none;
  color: white;
}

#mode.basic {
  background-color: white;
}
#mode.basic a {
  color: grey;
}
.nav span {
  display: none;
  line-height: 1.1;
}
.count {
  text-align: right;
  float: right;

  margin-left: 4px;
}

.nav a,
.hidden .nav-section li {
  display: flex;
  align-items: center;
}

.nav .flex {
  display: flex;
  align-items: center;
}

.nav img {
  display: inline-block;
  width: 0.875rem;
  margin-right: 0.5rem;
}

.filter-opacity img {
  opacity: 0.2;
  pointer-events: none;
}
.filter-opacity {
  color: lightgrey;
  pointer-events: none;
}

.gallery-container .filter-opacity {
  /* display: none !important; */
}

#index-container .accordion:has(.filter-opacity) {
  /* display: none !important; */
}

body.dark .filter-opacity {
  color: #363636;
  pointer-events: none;
}
body.dark #index .filter-opacity {
  color: #363636;
  pointer-events: none;
}
.about {
  display: none;
  margin-top: 20px;

  line-height: 1.4;
  letter-spacing: 0.125px;
  text-transform: capitalize;
  word-break: keep-all;
  text-align: left;

  grid-column: span 3;

  background-color: white;
  color: black;
  border-radius: 2px;
  padding: 3px;
}
#grid.on {
  opacity: 0.2;
  pointer-events: none;
}
/* HOME
================================================== */

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1px;
  padding: 5px;
}
.gallery-container {
  --gap: 4px;
  --grid-length: 2%;
  --line-offset: 0.125rem;
  --line-thickness: 1px;
  --line-color: silver;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: span 12;
  grid-gap: 5px;
  /* gap: var(--gap); */

  font-size: 0.875rem;
}

body.dark .gallery-container {
  --line-color: dimgray;
}

.gallery-container .project {
  padding-bottom: 1rem;
}

.gallery-container.change {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.subsection.change {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.subsection.change .image {
  display: grid;
  grid-column: span 1 !important;
}
.subsection.change .credits {
  order: 200;
}
.subsection.change .info {
  order: -1;
}
.info-inside {
  top: 5px;
  grid-gap: 5px !important;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column: span 9;
  background: rgba(222, 222, 217, 0.5);
  backdrop-filter: blur(25px);
  border-radius: 2px;
  position: sticky;
}

.project {
  display: grid;
  position: relative;
  height: fit-content;
  line-height: 1.3;
  text-transform: capitalize;
  row-gap: 1rem;

  transition: color 0.125s;
  cursor: auto;
}

/* Grid line */
/* 
.gallery-container .project::before,
.gallery-container .project::after {
  content: "";
  position: absolute;
  background-color: var(--line-color);
  z-index: 100001 !important;
}

.gallery-container .project::after {
  block-size: var(--line-thickness);
  inline-size: var(--grid-length);

  inset-inline-start: 0;
  inset-block-start: calc(var(--line-offset) * -1);
}

.gallery-container .project::before {
  inline-size: var(--line-thickness);
  block-size: var(--grid-length);
  inset-block-start: 0;
  inset-inline-start: calc(var(--line-offset) * -1);
}

@media screen and (max-width: 600px) {
  .gallery-container .project::after {
    inset-inline-start: 0;
  }
  .gallery-container .project::before {
    inset-block-start: 0;
  }
} */

/* loading setting */

/* .gallery-container .project > a, */
.gallery-container .project > .info-project > div {
  opacity: 0;
}

.gallery-container .project > a {
  width: 92.5%;
}

.gallery-container .project.mobile > a {
  width: 50%;
  margin: 0 auto;
}

.gallery-container .project.mark > a::before {
  content: url("../images/option/check.svg");

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 1rem;
  height: 1rem;

  bottom: 0.5rem;
  left: 0.5rem;

  z-index: 1;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.gallery-container .project.mobile.mark > a::before {
  bottom: 1rem;
  left: 1rem;
}

.gallery-container.change .project.mobile.mark > a::before {
  bottom: 0.75rem;
  left: 0.75rem;
}

#index-container .project.mark > a > div.title::before {
  content: url("../images/option/check.svg");

  position: relative;
  width: 0.75rem;
  height: 0.75rem;

  right: 0;
  bottom: 0;

  margin-right: 0.375rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 600px) {
  .gallery-container .project > a {
    width: 100%;
  }

  .gallery-container .project.mobile > a {
    width: 50%;
    margin: 0 auto;
  }

  .gallery-container .project > .info-project > div {
    /* opacity: 1 !important;
    visibility: inherit !important; */
  }

  .gallery-container .project.mark > a::before {
    bottom: 0.25rem;
    left: 0.25rem;
  }

  .gallery-container .project.mobile.mark > a::before {
    bottom: 0.5rem;
    left: 0.5rem;
  }

  .gallery-container.change .project.mobile.mark > a::before {
    bottom: 0.375rem;
    left: 0.375rem;
  }

  #index-container .project.mark > a > div.title::before {
    width: 0.725rem;
    height: 0.725rem;
    font-size: 0.6rem;

    margin-top: 1px;
    margin-left: 1px;

    vertical-align: 10%;
  }

  /* #index-container .project.mark > a > div.title::before {
    margin-right: 0.25rem;
  } */
}

.pr {
  background-color: white;
  border-radius: 2px;
  padding: 3px;
}
.index.active {
  background-color: gold !important;
}

.pr.active a {
  color: white !important;
}
.pr.active {
  background-color: blue !important;
}
.pr a {
  color: black !important;
}
/* INDEX
================================================== */
#index {
  padding: 5px 5px 0px 5px;
  display: none;
  grid-column: span 9;
  grid-gap: 5px;
}
#index.grid {
  height: fit-content;
  display: grid;
}
#gallery.grid {
  height: fit-content;
  display: grid;
}
#index-container {
  padding: 5px 5px 0px 5px;
  display: none;
  grid-column: span 9;
  grid-row: 1;

  grid-gap: 5px;

  order: 2;
}
#index-container.grid {
  height: fit-content;
  display: grid;
}
#index-container .project {
  grid-gap: 5px !important;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column: span 9;
  background: rgba(222, 222, 217, 0.5);
  border-radius: 2px;

  transition: background-color 0.125s;
  z-index: 10000 !important;
}

body.dark #index-container .project {
  background: rgba(222, 222, 217, 0.25);
}

#index-container .project.active {
  color: black;
}
#links {
  order: -10000;
  grid-column: span 9;
  position: sticky;
  top: 10px;
  z-index: 1;
  grid-gap: 5px;
  grid-template-columns: repeat(9, 1fr);
  display: grid;
  width: 100%;

  z-index: 10001;
}

#links > div {
  cursor: pointer;
}

#index .project.filter-opacity {
  color: lightgrey;
  pointer-events: none;
}
#index .project {
  grid-gap: 5px;
  grid-template-columns: repeat(9, 1fr);
  display: grid;
  opacity: 1 !important;
}
#index .number {
  grid-column: span 1;
}

#index-container .project.filter-opacity {
  color: black;
  opacity: 0.2 !important;
  pointer-events: none;
}

body.dark #index-container .project.filter-opacity {
  color: white;
}

#index-container .project,
#index-container .project > a {
  grid-gap: 5px;
  grid-template-columns: repeat(9, 1fr);
  display: grid;
  opacity: 1 !important;
}

#index-container .project > a {
  grid-column: span 9;
}

#index-container section {
  grid-column: span 9;
  grid-template-columns: repeat(9, 1fr);

  grid-gap: 5px !important;
}

#index-container .number {
  grid-column: span 1;
}
.category {
  grid-column: 7 / span 2;
  text-transform: capitalize;
}
.title {
  text-align: left;
  grid-column: span 4;
}
.year {
  grid-column: 9 / span 1 !important;
}
#index .cap {
  grid-column: span 1;
  color: black;
  background: rgba(222, 222, 217, 0.5);
  border-radius: 2px;
  padding: 3px;
}

#index-container .cap {
  grid-column: span 1;

  background: rgba(222, 222, 217);
  border-radius: 2px;
  padding: 3px;

  pointer-events: none;
  color: gray;

  z-index: 10001;
}

#index-container .category.cap {
  grid-column: 7 / span 1;
}

#index .project {
  top: 5px;
  grid-gap: 5px !important;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column: span 9;
  background: rgba(222, 222, 217, 0.5);
  backdrop-filter: blur(25px);
  border-radius: 2px;
  position: sticky;
}
#index-container .project > div {
  padding: 3px;
}

#index-container .project > a > div {
  padding: 3px;

  display: flex;
  align-items: center;
}

#index-container .project > a > div.cover-popup {
  display: inherit;
}

.info-inside > div {
  padding: 3px;
}

body.dark #index .cap {
  grid-column: span 1;
  color: white;
  background: rgba(222, 222, 217, 0.3);
  border-radius: 2px;
  padding: 3px;
}
body.dark #index-container .cap {
  color: silver;
  background: #5c5c5a;
  color: white;
  border-radius: 2px;
  padding: 3px;
}

/* Accordion
================================================== */

.accordion-label {
  transition: background-size 0.25s ease;
}

.accordion[data-accordion-state="opened"] .accordion-label {
  box-shadow: 0 0 0px 1px goldenrod;
  background: rgba(222, 222, 217, 0.8) !important;
}

body.dark .accordion[data-accordion-state="opened"] .accordion-label {
  box-shadow: 0 0 0px 1px khaki;
  background: rgba(222, 222, 217, 0.35) !important;
}

/* .accordion-label::before {
  position: absolute;
  top: 4px;
  left: 0;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;

  content: "";
  transition-property: all;
  transition-duration: 0.2s;
} */

.accordion-content {
  grid-gap: 5px;
  grid-template-columns: repeat(9, 1fr);
  display: grid;

  position: relative;
  height: fit-content;

  margin: 1.5rem 0 1.5rem;
  /* height: var(--content-height); */

  overflow: hidden;
  will-change: height, margin, filter, opacity;
}

.accordion-content-property {
  opacity: 1;
  transition-property: height, margin, filter, opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.86, 0.205, 0.145, 0.915);
}

.accordion-content figure {
  display: grid;
  grid-column: 2 / span 9;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 30px), 1fr));

  grid-gap: 0.5rem;

  width: 75%;
  margin: 0 0 0.75rem;
}

.accordion-content figure:last-of-type {
  margin: 0 0 3rem;
}

.accordion-content figure.landscape {
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
}

.accordion-content figure.landscape.poster {
  margin-bottom: 3rem;
}

.accordion-content figure img {
  width: 100%;
  height: auto;

  border: thin solid #efefef;
}

body.dark .accordion-content figure img {
  border: thin solid #333;
}

.accordion-content h1 {
  grid-column: 2 / span 9;
  margin: 0 0 0.5rem;

  font-size: 1rem;
  line-height: 1.2;

  max-width: 72ch;
  word-break: keep-all;
  text-wrap: pretty;
}

.accordion-content p {
  grid-column: 2 / span 9;
  margin: 0 0 0.5rem;
  max-width: 72ch;

  font-size: 0.875rem;
  line-height: 1.5;

  word-break: keep-all;
  text-wrap: pretty;
}

.accordion-content p.en {
  text-align: left;
  line-height: 1.4;

  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.accordion-content p::before {
  font-family: "national", "pretendard", sans-serif;
  /* content: "[" attr(title) "]"; */
  content: attr(title);

  display: block;

  line-height: 1.5;
  text-decoration: underline;
  text-underline-position: from-font;

  /* padding: 0 0.125rem; */
  margin-bottom: 0.1rem;
}

body.dark .accordion-content p::before {
  /* color: black; */
}

.accordion-content p[title="Description"] > a {
  font-size: 90%;
  text-decoration: underline;

  vertical-align: text-top;
  padding: 0 0.125rem;

  opacity: 0.7;
}

/* .accordion-content p[title="Description"],
.accordion-content p[title="Scope"] {
  margin-bottom: 1.25rem;
} */

.accordion-content p[title="Related Link"] {
  margin: 0 0 2rem;
}

.accordion-content p[title="Related Link"] > a {
  display: block;

  font-size: 90%;
  line-height: 1.5;

  width: fit-content;
  padding: 0.2rem 0.4rem;

  margin-top: 0.375rem;

  background: #70809017;
  border-radius: 2px;
}

body.dark .accordion-content p[title="Related Link"] > a {
  background: #add8e626;
}

.accordion-content p[title="Related Link"] > a:nth-child(1) {
  margin-top: 0.375rem;
}

.accordion-content p > a {
  color: inherit;
}

.accordion-content p[title="Scope"] {
  text-transform: capitalize;
}

.accordion-content p[title="Scope"] > sup {
  padding-right: 0.375rem;
}

.accordion-content p[title="caption"] {
  --footnote-display: inline-block;
  font-size: 87.5%;

  margin-top: 15px;
}

p[title="caption"]::before {
  counter-increment: footnotes;
  content: none;
}

p[title="caption"]:focus {
  outline: 2px;
}

p[title="caption"]:focus rt {
  display: var(--footnote-display);
}

p[title="caption"] a {
  text-decoration: none;
}

.accordion[data-accordion-state="closed"] .accordion-content {
  height: 0;
  margin-block: 0;
  filter: blur(4px);
  opacity: 0;
}

.accordion[data-accordion-state="opened"] .accordion-content {
  height: fit-content;
  opacity: 1;
}

.accordion[data-accordion-state="opened"] .accordion-label::before {
  transform: rotate(135deg);
}

.accordion[data-accordion-state="opened"] .accordion-label {
  background-size: 100% 0.1em;
}

@media only screen and (max-width: 1440px) {
  .accordion-content figure {
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 10px), 1fr));
  }
}

@media only screen and (max-width: 900px) {
  .accordion-content {
    grid-template-columns: repeat(6, 1fr);
  }

  .accordion-content h1,
  .accordion-content p {
    grid-column: 1 / span 5;
  }

  .accordion-content figure {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));
    grid-column: 1 / span 6;
  }
}

@media screen and (max-width: 600px) {
  .accordion-content {
    margin: 1.5rem 0 1rem;
  }

  .accordion-content figure {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));
    grid-gap: 5px;

    width: 100%;
    margin: 0 0 0.5rem;
  }

  .accordion-content figure.landscape {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));
  }

  .accordion-content p {
    line-height: 1.45;
  }

  .accordion-content p[title="Related Link"] > a {
    padding: 0.15rem 0.3rem;
  }

  /* .accordion-content p[title="Related Link"] {
    margin: 1rem 0 .75rem;
  } */
}

/* SINGLE
================================================== */
.image.wide {
  grid-column: 1 / span 9;
}
.image.center {
  grid-column: 4 / span 3;
}
.image.wide-center {
  grid-column: 3 / span 5;
}
.image.left {
  grid-column: 1 / span 4;
}
.image.right {
  grid-column: 5 / span 5;
}

.gallery {
  height: fit-content;
  order: -1;
  display: grid;
  row-gap: 5px;
  grid-column: span 9;
}
.back-home {
  width: 15px;
  height: 15px;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: red;
  z-index: 10;
}
.credits {
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1 / span 5;
}
.credits .cap {
  margin-bottom: 5px;
  color: grey;
  grid-column: span 5;
}
.credits .nav-sectiont {
  grid-column: 1 / span 1;
}
.credits .data {
  grid-column: span 3;
}
.credits .title {
  grid-column: span 3;
}
/* SWIPER
================================================== */
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 0%;
  grid-template-columns: repeat(18, 1fr);
  box-sizing: border-box;
  z-index: 99;
  position: fixed;
}
.gallery-thumbs .swiper-slide {
  margin-right: 0px !important;
}
.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-container,
.swiper-wrapper {
  display: flex;
}
.swiper-container .gallery-thumbs {
  grid-column: span 10 !important;
  position: relative;
  height: 100vh;
  z-index: 10002 !important;
  display: flex;
  column-gap: 10px;
  align-items: flex-end;
  cursor: grab;
  animation: background 0.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}
.swiper-container .gallery-top {
  grid-column: span 10 !important;
  position: relative;
  top: 0;
  height: 100vh;
  display: flex;
  column-gap: 10px;
  align-items: flex-end;
  cursor: grab;
  animation: background 0.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  transition: all 1s ease-in-out;
  animation-fill-mode: backwards;
}
.swiper-slide {
  align-items: center;
  justify-content: center;
  align-self: center;
  display: flex;
  align-items: flex-end;
  width: auto;
  transition: all 0.6s ease-in-out;
}
.swiper-slide img {
  width: auto;
  height: 100vh;
  align-items: baseline;
  align-items: center;
  transition: all 0.6s ease-in-out;
  margin-right: 10px;
}
.gallery-top .swiper-wrapper {
  display: flex;
}
.gallery-thumbs .swiper-wrapper {
  position: fixed;
  margin-left: 10px;
  bottom: 75px;
}
.gallery-thumbs .swiper-slide img {
  width: auto;
  height: 8vh;
  align-items: center;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.gallery-thumbs .swiper-slide img {
  opacity: 1;
  transition: 0s;
}
.gallery-thumbs .swiper-slide img.active {
  opacity: 1;
  transition: 0s;
}

/* ABOUT
================================================== */
/* SINGLE
================================================== */
.single {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(9, 1fr);
  grid-column: span 9;
}
.cover-popup {
  padding-left: 15px !important;

  box-sizing: border-box;
  transition: ease 0s;
  position: fixed !important;

  transform: translateY(-50%);
  right: 0;
  top: 50%;

  width: fit-content;

  z-index: 100;
  pointer-events: none;
  opacity: 0;
}

.cover-popup img {
  top: 0;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .cover-popup img {
    width: calc(33.33vw - 6rem);
    width: 4rem;
    height: 4rem;
  }
}

/* @media only screen and (max-width: 900px) {
  .cover-popup img {
    width: calc(41.67vw - 6rem);
    width: 6rem;
    height: 6rem;
  }
} */

.rrss {
  text-align: left;
  display: none;
}
.info {
  grid-column: span 9;
}
.subsection {
  grid-gap: 5px;
  display: grid;
  grid-column: span 9;
  grid-template-columns: repeat(9, 1fr);
}
.subsection .info {
  padding: 8px;
}
.subsection .credits {
  padding: 3px;
}
/* FOOTER
================================================== */
footer {
  margin-top: auto;
  padding: 17.5vh 10px 1rem;

  grid-template-columns: repeat(1, 1fr);
  grid-column: span 4;
  grid-gap: 0px;
  position: relative;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--main);
  letter-spacing: 1px;
  line-height: 1.4;
}

footer a {
  color: gray !important;
}

body.dark footer a {
  color: darkgray !important;
}

/* HOVER
================================================== */

@media (hover: hover) and (pointer: fine) {
  header.nav li:hover,
  #grid:hover,
  .nav-title:hover,
  .nav-section > div:hover {
    background-color: lightgrey !important;
  }

  header.nav li:active,
  #grid:active,
  .nav-title:active,
  .nav-section > div:active {
    background-color: silver !important;
  }

  body.dark header.nav li:hover,
  body.dark #grid:hover,
  body.dark .nav-title:hover,
  .nav-section > div:hover {
    background-color: #c1c1c1 !important;
  }

  body.dark header.nav li:active,
  body.dark #grid:active,
  body.dark .nav-title:active,
  .nav-section > div:active {
    background-color: #929292 !important;
  }

  .project > a > img {
    transition: box-shadow 0.125s;
  }
  .project:hover > a > img {
    box-shadow: 0 0 6px 2px khaki;
  }

  .open-menu:hover {
    background-color: silver;
  }
  .pr:hover {
    background-color: blue !important;
    color: white !important;
  }
  .pr:hover a {
    color: white !important;
  }
  #links .cap:hover {
    background-color: lightgray;
  }
  body.dark #index-container #links .cap:hover {
    background-color: lightgray;
  }
  #index-container .project:hover {
    background-color: lightgray !important;
  }

  #index-container .project:active {
    background-color: silver !important;
  }

  body.dark #index-container .project:hover {
    background-color: gray !important;
    color: black;
  }
  body.dark #index-container .project:active {
    background-color: dimgray !important;
    color: black;
  }
  #index .project:hover {
    color: grey;
    cursor: pointer;
  }
  .accordion-content p > a:hover {
    opacity: 0.4;
  }
  .accordion-label:hover {
    background-size: 100% 0.1em;
  }
  .gallery-thumbs .swiper-slide:hover {
    opacity: 1 !important;
    cursor: pointer;
  }
  #project:hover .cover-popup {
    opacity: 1;
    z-index: 10000;
    transition-delay: 0s;
  }
}

/* FONTS
================================================== */
/* @font-face {
  font-family: "AppleMyungjo";
  src: url("../fonts/AppleMyungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
/* MACBOOK PRO 15
================================================== */
@media only screen and (max-width: 1540px) and (min-width: 1440px) {
}
/* IMAC PRO 
================================================== */
@media only screen and (min-width: 1820px) {
  :root {
    --main: calc(8px + 0.5vw);
    --small: 16px;
    --big: 20px;
    --gap: 12px;
  }

  .card {
    padding: 1.5rem 1.75rem;
  }

  .i-name {
    margin: 0 0 0.75rem;
  }

  .i-name-row {
    min-width: 400px;
  }

  .i-project {
    font-size: 1.375rem;
  }

  .i-name-row span.split {
    font-size: 1.75rem;
  }

  .i-project.keepdry {
    width: 2rem;
    height: 2rem;
  }

  #index-container {
    padding: 0.375rem 0.375rem 0 0.375rem;
    grid-gap: 0.375rem;
  }

  .gallery-container {
    grid-gap: 0.375rem;
  }

  .nav,
  .hidden {
    grid-gap: 0.375rem;
  }

  #index-container .cap,
  #index-container .project > a > div {
    padding: 0.375rem;
  }

  .hidden .nav-section li,
  .nav-title,
  .open-menu,
  #mode,
  #grid {
    padding: 0.3rem;
  }

  header.nav,
  .hidden .nav-section li,
  .nav-title,
  #grid,
  .open-menu,
  #mode {
    font-size: 1.5rem;
  }

  .nav img {
    width: 1.5rem;
  }

  div.info-project {
    font-size: 1.5rem;
  }

  .gallery-container .project.mark > a::before {
    left: 1.25rem;
    bottom: 1.25rem;

    scale: 2;
  }

  .gallery-container .project.mobile.mark > a::before {
    left: 2rem;
    bottom: 2rem;
  }

  #index-container .project.mark > a > div.title::before {
    margin-right: 0.75rem;
  }

  .accordion-content h1 {
    font-size: 1.625rem;
  }

  .accordion-content p {
    font-size: 1.375rem;
  }

  .accordion-content figure {
    width: 85%;

    margin: 0 0 1.5rem;
  }

  .accordion-content p::before {
    margin-right: 0.5rem;
  }

  .accordion-content p[title="Related Link"] > a {
    font-size: 1.25rem;
    margin-top: 0.5rem;

    padding: 0.25rem 0.5rem;
  }

  .accordion-content p[title="Related Link"] > a:nth-child(1) {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 1440px) {
  #index-container {
    grid-column: span 8;
  }

  .nav {
    grid-column: 9 / span 4;
  }

  #index-container .category.cap {
    grid-column: 6 / span 2;
  }

  #index-container .category {
    grid-column: 6 / span 3;
  }
}

@media only screen and (max-width: 1000px) {
  .nav {
    grid-column: 8 / span 5;
  }
  .gallery {
    height: fit-content;
    order: -1;
    display: grid;
    row-gap: 5px;
    grid-column: span 8;
  }
  #index-container {
    padding: 5px 5px 0px 5px;
    display: none;

    grid-gap: 5px;
  }
}
@media only screen and (max-width: 900px) {
  #index-container {
    padding: 5px 5px 0px 5px;
    display: none;
    grid-column: span 7;
    grid-gap: 5px;
  }

  .nav {
    grid-column: 7 / span 6;
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-container.change {
    grid-template-columns: repeat(4, 1fr);
  }

  .credits {
    display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1 / span 8;
  }
  .subsection.change .image {
    display: grid;
    grid-column: span 2 !important;
  }
  .gallery {
    order: -1;
    display: grid;
    row-gap: 5px;
    grid-column: span 7;
  }
  .subsection.change {
    display: grid !important;
    grid-template-columns: repeat(8, 1fr);
  }
  .credits .data {
    grid-column: span 4;
  }
}

/* IPHONE
================================================== */
@media screen and (max-width: 600px) {
  :root {
    --main: 12px;
    --small: 13px;
    --big: 20px;
    --gap: 10px;
  }
  .filter {
    display: none !important;
  }
  /* .category {
    display: none;
  } */

  /* HOME
  ================================================== */
  .gallery-container {
    margin-top: 4rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;

    font-size: inherit;
  }

  .gallery-container .project:nth-child(2n) {
  }

  .nav {
    grid-column: span 12;
  }

  .hidden .nav-section li,
  .nav-title,
  #grid,
  .open-menu,
  #mode {
    padding: 2px 3px;
  }

  #index {
    order: -1;
    position: relative;
  }
  #index .title {
    grid-column: span 1;
  }
  #index {
    grid-column: span 12;
  }
  #index .category {
    grid-column: span 1 !important;
  }
  #index .project {
    grid-template-columns: repeat(3, 1fr);
  }
  #links {
    grid-template-columns: repeat(3, 1fr);
  }
  #index .title {
    grid-column: span 2;
  }
  .credits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 12;
  }
  /* .year {
    display: none;
  } */

  #index-container .number {
    display: none;
  }

  #index-container .project > a > div.number {
    display: none;
  }

  .about {
    margin-top: 10px;
  }

  #index-container .project.zindex {
    z-index: 1 !important;
  }

  .info-inside.single {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
  }
  .title {
    grid-column: span 2 !important;
  }
  .title.cap {
    grid-column: span 2 !important;
  }
  .subsection {
    display: grid;
    row-gap: 5px;
    grid-column: span 12;
  }
  .info {
    grid-column: span 12;
  }
  .gallery {
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
  }
  .subsection .image {
    grid-column: span 12;
  }
  .subsection.change {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .subsection.change .image {
    grid-column: span 4 !important;
  }
  .gallery {
    order: inherit;
  }
  .cover-popup {
    display: none !important;
  }
  #index-container {
    padding: 5px 5px 0px 5px;
    display: none;

    grid-column: span 12;
    grid-row: 2;
    grid-gap: 5px;
    order: 1;
  }
  .title {
    grid-column: span 3 !important;
  }
  .year {
    grid-column: 3 / span 1 !important;
  }
  .title.cap {
    grid-column: span 3 !important;
  }
  .info-inside {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }
  .category {
    grid-column: span 2 !important;
  }

  #index-container .category.cap {
    grid-column: span 2 !important;
    grid-row: 2;
  }

  #index-container .year.cap {
    grid-column: 3 / span 1 !important;
    grid-row: 2;
  }

  .title {
    grid-column: span 1;
  }
  #links {
    position: relative;
    top: 0;
    grid-column: span 12;
  }
  #index-container .project {
    grid-column: span 12;
  }

  #index-container section {
    grid-column: span 12;
    grid-template-columns: repeat(3, 1fr);
  }

  #index-container .project,
  #index-container .project > a {
    grid-template-columns: repeat(3, 1fr);
  }

  #index-container .project > a {
    grid-column: span 12;
    grid-gap: 2px;
  }

  footer {
    padding: 0 5px 5px;
    grid-column: span 12;
    order: 2;
  }

  .footer-in {
    margin-top: 33.33vh;
  }

  .gallery-container.change {
    grid-template-columns: repeat(3, 1fr);
  }
  /* #links > div {
    pointer-events: none;
  } */
}
/* IPHONE LANDSCAPE
================================================== */
@media screen and (orientation: landscape) and (min-device-width: 319px) and (max-device-width: 600px) {
}

/* MOBILE COPY
================================================== */

@media screen and (hover: none) and (pointer: coarse) {
  img {
    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }

  .nav * {
    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
}
