:root {
  --primary: #25abd9;
  --primary-dark: #2090b7;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  background-size: cover;
  height: 100vh;
}

body {
  font-family: "Pretendard", Arial, Helvetica, sans-serif;

  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

main {
  display: flex;
}

article {
  width: 100vw;
  height: 100vh;
}

figure {
  position: absolute;
  transform: translateY(-50%);
  top: calc(50% + 2vw);
  right: 2vw;
}

article > div > div {
  position: relative;
  transform: translate(27vw, 3vw);

  width: 12vw;

  background: #f4f4f4f1;
  border-radius: 20px;
  margin-right: 0.5vw;

  padding: 0.75vw 1vw;
  cursor: pointer;
  transition: opacity 0.125s;
}

.gangbuk-section {
  display: flex;
  margin-bottom: 0.5vw;
}

.gangnam-section {
  display: flex;
  margin-bottom: 0.5vw;
}

article > div > div:hover {
  opacity: 0.6;
}

article > div > div h1 {
  font-size: 1vw;
  font-weight: 700;
  margin-bottom: 0.25vw;

  text-align: center;
}

article > div > div h1 > img {
  height: 0.75vw;
}

article figure div {
  position: absolute;
  transform: translate(-50%, -50%);

  cursor: pointer;
}

article figure div.mapo-pin {
  left: calc(50% - 10vw);
  top: calc(50% + 2vw);

  width: 8vw;
  height: 6vw;
}

article figure div.jongro-pin {
  left: calc(50% + 2vw);
  top: calc(50% - 5vw);

  width: 11vw;
  height: 8vw;
}

article figure div.yongsan-pin {
  left: calc(50% + 1.5vw);
  top: calc(50% + 6vw);

  width: 7vw;
  height: 7vw;
}

article figure div.gwanak-pin {
  left: calc(50% - 5vw);
  top: calc(50% + 19vw);

  width: 12vw;
  height: 9vw;
}

article figure div.gangnam-pin {
  left: calc(50% + 14vw);
  top: calc(50% + 14vw);

  width: 12vw;
  height: 10vw;
}

figure img {
  width: 65vw;
  z-index: -1;
}

table {
  display: flex;
  align-items: start;

  text-align: center;

  width: 100%;
  height: 100%;
}

table > tbody {
  width: 100%;
}

table tr {
  display: flex;
}

table td {
  line-height: 0.5vw;
  flex-basis: 50%;
}

table td > div {
  text-align: center;
  margin: 0.5vw 0;
}

table td > div img {
  width: 1.5vw;
  height: 1.5vw;
}

td img {
  width: 0.5vw;
  margin: 0.1vw 0.125vw;
}

main > section {
}

li {
  display: inline-block;
  list-style: none;
}

.map ul {
  width: calc(100% - 8vw);
  text-align: center;
}

ul img {
  width: 4vw;

  padding: 0.125vw 0.25vw;
}

.wrapper {
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
}

/* iframe {
  position: fixed;
  width: 100vw;
  height: 100vh;

  border: none;
  outline: none;
  overflow-y: hidden;
} */

input[type="submit"] {
  position: fixed;
  transform: translateY(-50%);

  bottom: 0;
  left: 5vw;
  width: 20vw;
  height: 25vh;

  z-index: 1001 !important;

  background: transparent;

  background-image: url(../../assets/images/true-btn.svg);
  background-repeat: no-repeat;
  background-size: contain;

  border: none;
  outline: none;
  cursor: pointer;

  transition: opacity 0.25s;

  /* border: 0;
  border-radius: 5px;
  box-shadow: 0 6px 0 var(--primary-dark), 0 5px 15px -4px #000;

  padding: 5px;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in-out, margin-top 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  width: 150px; */
}

input[type="submit"]:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

input[type="submit"]:hover {
  opacity: 0.4;
}

/* 
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  outline: 0;
}

input[type="submit"]:active {
  box-shadow: none;
  margin-top: 6px;
}

 */

.map {
  position: absolute;

  right: 3vw;

  transform: translateY(-50%);
  top: 50%;

  width: 70vw;
  height: calc(100vh - 2vw);

  background-image: url(../../assets/images/mapo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

aside .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: absolute;

  transform: translate(-50%, -50%);
  top: 50%;
  left: 12.5%;

  height: 100vh;
}

aside .header img {
  width: 12.5vw;
}

aside .header > div:nth-child(1) > img {
  margin-top: 4vw;
}

aside .header > div:nth-child(2) > img {
  margin-bottom: 4vw;
}

aside .place {
  position: absolute;

  transform: translate(-50%, -50%);
  top: 50%;
  left: 12vw;

  padding: 1vw 5vw;
  border: 2px solid #5e5e5e;
  border-radius: 7vw;
}

aside .place img {
  height: 2.5vw;
}

aside .border {
  position: absolute;

  transform: translate(-50%, -50%);
  top: 50%;
  left: 25vw;

  width: 0.1vw;
  height: calc(100vh - 6vw);
  background: #4d4d4d;
}

.backspace {
  position: absolute;
  bottom: 2.5vw;
  left: 50%;
  transform: translateX(-50%);
}

.backspace a {
  color: #a0a0a0;

  font-size: 1.25vw;

  font-size: 1.25vw;
  transition: opacity 0.2s;
}

.backspace a:hover {
  opacity: 0.6;
}

input[type="submit"] {
  top: 20vh;
}

.plates-o {
  position: absolute;
  transform: translateX(-50%);

  bottom: calc(50% + 0.5vw);
  left: 50%;

  margin: 0;
  padding: 0;
}

.plates-x {
  position: absolute;
  transform: translateX(-50%);

  top: calc(50% + 0.5vw);
  left: 50%;

  margin: 0;
  padding: 0;
}

.add-items-o input[type="text"] {
  display: none;
}

.add-items-x input[type="text"] {
  display: none;
}

.add-items-x input[type="submit"] {
  background-image: url(../../assets/images/false-btn.svg);
  left: 4vw;
  top: 78vh;
}

.done-modal {
  display: none;
}

.done {
  position: fixed;

  width: 48vw;
  height: 22.5vh;

  background: #fff;
  color: #000;

  border: 3px solid black;
  border-radius: 8vw;

  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
}

.done-backg {
  position: fixed;

  width: 100vw;
  height: 100vh;

  background-color: #1f1f1f41;
  background-image: url(../../assets/images/word-backg.png);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 50%;
  background-blend-mode: difference;
  z-index: 0;
}

.done > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.done p {
  font-size: 4vw;
  font-weight: 900;
  text-align: center;
}



.formobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .formobile {
    display: block;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
  }

  .formobile-p {
    display: block;
    z-index: 10001;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    color: black;
    background-color: white;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
  }
}