*,
:after,
:before {
  box-sizing: border-box;
}
:root {
  font-size: clamp(20px, 4vw, 1vw);
}
body {
  --color-text: #fff;
  --color-text-alt: #6a6969;
  --color-bg: #1f1b18;
  --color-bg-cover: #1f1b18;
  --color-link: #fff;
  --color-link-hover: #fff;
  --color-map: #666;
  --cursor-fill: #fff;
  --cursor-text: #1f1b18;
  --padding-page: 2rem;
  --color-dot: #b93434;
  --img-width: 96;
  --img-height: 120;
  --img-ratio: calc(var(--img-height) / var(--img-width));
  --map-width: 30px;
  --map-height: calc(var(--img-ratio) * var(--map-width));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  margin: 0;
}

body.fixed {
  height: 100%;
  overflow: hidden;
}

header {
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.header::after {
  position: absolute;
  z-index: 99888;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.125rem 0.25rem;
  font-size: 2rem;
  color: white;
  overflow: hidden;
}

.header .header--title {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: #1f1b18;

  margin: 0;
  padding: 0;
}

.header .header--div {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  line-height: 1.25;
  text-align: center;
  color: white;
}
