body {
  margin: 0;
  overflow: hidden;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    155deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(187, 187, 187, 1) 100%
  );
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
  cursor: pointer;
}

.text {
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 40px;
  text-align: center;
  z-index: 10;
  font-size: 24px;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
