html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}
html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
}
article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}
code,
pre {
  font-family: monospace;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}
body {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
a {
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Light";
  src: url(../fonts/SpoqaHanSansNeo-Light.eot);
  src: local(※), url(../fonts/SpoqaHanSansNeo-Light.woff) format("woff");
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3,
    U+D7B0-D7FF;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url(../fonts/SpoqaHanSansNeo-Regular.eot);
  src: local(※), url(../fonts/SpoqaHanSansNeo-Regular.woff) format("woff");
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3,
    U+D7B0-D7FF;
}
@font-face {
  font-family: "Arnold_Regular";
  src: local(※), url(../fonts/Arnold_Regular.woff) format("woff");
}
@font-face {
  font-family: "Arnold_Italic";
  src: local(※), url(../fonts/Arnold_Italic.woff) format("woff");
}
body {
  font-family: "Arnold_Regular", sans-serif;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  z-index: 999;
}
#defaultCanvas0 {
  z-index: 1001;
}
a {
  font-family: "Arnold_Regular", sans-serif;
  color: #000;
  display: block;
  text-decoration: none;
  cursor: pointer;
  z-index: 1001;
}
p {
  display: block;
}
span {
  cursor: pointer;
  display: block;
}
.ocunningluv {
  font-family: "SpoqaHanSansNeo-Light";
  color: #000;
  position: absolute;
  text-align: left;
  margin-left: 24px;
  margin-top: 20px;
  font-size: 32px;
}
.ocunningluv:hover {
  color: #dcdcdc;
}
img {
  width: 25%;
  margin: 0 auto;
}
.xscroll {
  font-size: 64px;
  position: fixed;
  text-align: center;
  margin-left: 14px;
  margin-bottom: -16px;
  bottom: 0;
  letter-spacing: -2px;
  z-index: 1002;
}
#hyeon {
  display: none;
  margin-left: 16px;
  margin-top: 6px;
  width: 20%;
  cursor: pointer;
  z-index: 10000;
}
#saturn {
  position: absolute;
  width: 50%;
  left: 16px;
  top: 320px;
}
ul {
  position: absolute;
  display: block;
  margin: 0 auto;
  margin-left: 24px;
  list-style-type: none;
  z-index: 999;
}
li {
  margin-top: 36px;
}
p {
  font-family: "Arnold_Regular", "SpoqaHanSansNeo-Regular", sans-serif;
  position: absolute;
  display: block;
  filter: blur(2px);
}
p.copyright {
  writing-mode: vertical-rl;
  color: gray;
}
summary {
  cursor: pointer;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
#defaultCanvas0 {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}
@media all and (min-width: 300px) {
  .copyright {
    font-size: 36px;
    line-height: 1.65;
    margin-top: 100px;
    margin-left: 45%;
  }
  .summaryBody2 {
    position: absolute;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    line-height: 1.75;
    word-break: normal;
    width: 100%;
    margin-top: 100px;
  }
  ul {
    display: block;
    width: 80%;
    padding-top: 40px;
  }
  li {
    font-size: 14px;
    line-height: 1.75;
    word-break: normal;
    padding-top: 40px;
  }
  .grid0text {
    text-align: left;
    font-size: 14px;
    line-height: 1.75;
    margin-left: 16px;
    padding-top: 240px;
    width: 100%;
  }
  span {
    text-align: left;
    font-size: 14px;
    line-height: 1.75;
    margin-left: 16px;
    width: 100%;
  }
}

@media all and (min-width: 750px) {

  .copyright {
    font-size: 48px;
    line-height: 1.7;
    margin-top: 300px;
    margin-left: 55%;
  }

  .summaryBody2 {
    font-size: 16px;
    line-height: 1.8;
    word-break: keep-all;
    width: 100%;
  }
  ul {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    width: 80%;
    padding-top: 0;
  }
  li {
    font-size: 16px;
    line-height: 1.8;
    word-break: keep-all;
  }
  .grid0text {
    font-size: 16px;
    line-height: 1.8;
    padding-top: 160px;
    width: 90%;
  }
  span {
    font-size: 16px;
    line-height: 1.8;
    width: 90%;
  }
  #defaultCanvas0 {
    margin: 0 auto;
  }
}


@media all and (min-width: 1024px) {
  .copyright {
    font-size: 60px;
    line-height: 1.75;
    margin-top: 500px;
    margin-left: 60%;
  }
}
