.box {
  border-radius:50%;
  background:linear-gradient(orange,skyblue,lightgreen);
  -webkit-mask: radial-gradient(transparent 89px,#000 900px);
          mask: radial-gradient(transparent 89px,#000 900px);

}
.box:before {
  content:"";
  display:block;
  padding-top:10%;
}

.container {
  margin:0 auto;
  margin-top: 32px;
  width:300px;
  animation:change 15s linear alternate infinite;
}

@keyframes change{
  to {
    width:400%;
  }
}

.ocunningluv {
  color: gray;
  position: absolute;
  text-align: left;
  margin-left: 16px;
  margin-top: 20px;
  font-size: 21px;
}
.ocunningluv:hover {
  color: #dcdcdc;
}