

@-webkit-keyframes fadein {
	0% {
		opacity:0
	}

	to {
		opacity:1
	}
}

@keyframes fadein {
	0% {
		opacity:0
	}

	to {
		opacity:1
	}
}

@-webkit-keyframes fadeout {
	0% {
		opacity:1
	}

	to {
		opacity:0
	}
}

@keyframes fadeout {
	0% {
		opacity:1
	}

	to {
		opacity:0
	}
}

html {
	font-size:62.5%
}

* {
	box-sizing: border-box;
	font-size: 100%;
	font-style: inherit;
	margin: 0;
	padding:0
}

*, a {
	font-weight:inherit
}

a {
	color: inherit;
	text-decoration:none
}

a img {
	border:0
}

li {
	list-style:none
}

button, fieldset {
	border:0
}

button {
	-webkit-appearance: none;
	background: transparent;
	color: #000;
	text-align:left
}

:focus {
	outline:none
}

button, input, textarea {
	font:inherit
}

html {
	-ms-scroll-chaining: none;
	font-size: 95%;
	overflow: hidden;
	overscroll-behavior:none
}

@media screen and (min-width: 750px) {
	html {
		font-size:85%
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size:90%
	}
}

@media screen and (min-width: 1150px) {
	html {
		font-size:80%
	}
}

@media screen and (min-width: 1280px) {
	html {
		font-size:85%
	}
}

@media screen and (min-width: 1375px) {
	html {
		font-size:90%
	}
}

@media screen and (min-width: 1500px) {
	html {
		font-size:95%
	}
}

@media screen and (min-width: 1600px) {
	html {
		font-size:100%
	}
}

@media screen and (min-width: 1750px) {
	html {
		font-size:105%
	}
}

@media screen and (min-width: 1900px) {
	html {
		font-size:110%
	}
}

@media screen and (min-width: 2150px) {
	html {
		font-size:115%
	}
}

body {
	-ms-scroll-chaining: none;
	-webkit-font-smoothing: antialiased;
	background-attachment: fixed;
	background-color: #fff;
	background-size: cover;
	bottom: 0;
	color: #000;
	font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: 1.25;
	overflow: hidden;
	overscroll-behavior: none;
	position: fixed;
	right: 0;
	top: 0;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark {
	background-color: #141414;
	color:#fff
}

@media print {
	body {
		overflow: initial;
		position:static
	}
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
	-webkit-box-shadow:inset 0 0 0 30px #fff !important
}

input:-webkit-autofill {
	-webkit-text-fill-color:#000 !important
}

* {
	-webkit-tap-highlight-color:transparent
}

::-webkit-scrollbar {
	height: 15px;
	width:15px
}

::-webkit-scrollbar-thumb {
	background-color: #000;
	border-left: 6px solid #fff;
	border-right:6px solid #fff
}

.dark ::-webkit-scrollbar {
	height: 15px;
	width:15px
}

.dark ::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-left: 6px solid #141414;
	border-right:6px solid #141414
}

::-moz-selection {
	background-color: #000;
	color:#fff
}

::selection {
	background-color: #000;
	color:#fff
}

@media screen and (min-width: 750px) {
	.only-mobile {
		display:none
	}
}

.only-desktop {
	display:none
}

@media screen and (min-width: 750px) {
	.only-desktop {
		display:initial
	}
}

.facade {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	width:100%
}

@media print {
	.facade {
		height:auto
	}
}

@supports (-webkit-touch-callout: none) {
	.facade {
		height:-webkit-fill-available
	}
}

.facade__top {
	background-color: #fff;
	transition: background-color .15s, color .15s, border-color .15s;
	z-index:9999
}

body.dark .facade__top {
	background-color:#141414
}

.facade__main {
	display: flex;
	flex-grow: 1;
	height: 100%;
	overflow: hidden;
	transition:opacity .1s
}

body.loading .facade__main {
	opacity:0
}

.facade__main-wrap {
	align-items: center;
	display: flex;
	flex-grow: 1;
	overflow:hidden
}

.facade__main-wrap--no-hscroll {
	align-items:flex-start
}

@-webkit-keyframes tab-open {
	0% {
		transform:translateY(100%)
	}

	to {
		transform:translateY(0)
	}
}

@keyframes tab-open {
	0% {
		transform:translateY(100%)
	}

	to {
		transform:translateY(0)
	}
}

.tab {
	background-color: #fff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	transform: scale(1) translateY(100%);
	transition: background-color .15s, color .15s, border-color .15s;
	transition:transform 1s cubic-bezier(.77, 0, .175, 1), background-color .15s, color .15s, border-color .15s
}

body.dark .tab {
	background-color:#141414
}

@supports (-webkit-touch-callout: none) {
	.tab {
		height:-webkit-fill-available
	}
}

.tab--small {
	height: auto;
	max-height: 75vh;
	min-height:60vh
}

@media screen and (min-width: 750px) {
	.tab--small {
		max-height: 50vh;
		min-height:40vh
	}
}

@supports (-webkit-touch-callout: none) {
	.tab--small {
		height:auto
	}
}

@media print {
	.tab {
		display:none
	}
}

.tab--active {
	transform: scale(1) translateY(0);
	z-index:1
}

@media print {
	.tab--active {
		display: block;
		height: auto;
		position:static
	}
}

.tab__content {
	height:100vh
}

.tab--small .tab__content, .tab__content {
	transition:background-color .15s, color .15s, border-color .15s
}

.tab--small .tab__content {
	border-top: 3px solid #000;
	display: flex;
	flex-direction: column;
	height: auto;
	margin-left: 15px;
	margin-right: 15px;
	max-height:75vh
}

@media screen and (min-width: 750px) {
	.tab--small .tab__content {
		max-height:50vh
	}
}

@media print {
	.tab--small .tab__content {
		border-top: 0;
		max-height:none
	}
}

body.dark .tab--small .tab__content {
	border-top-color:#fff
}

body.dark .tab__content {
	background-color:#141414
}

.tab__footer {
	background-color: #fff;
	border-top: 3px solid #000;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	left: 15px;
	position: fixed;
	right: 15px;
	transition:background-color .15s, color .15s, border-color .15s
}

@media print {
	.tab__footer {
		display:none
	}
}

body.dark .tab__footer {
	background-color: #141414;
	border-top-color:#fff
}

.tab__footer button {
	color: #000;
	cursor: pointer;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .tab__footer button {
	color:#fff
}

.tab__footer button:hover {
	font-style:italic
}

.tab__footer a {
	align-items: center;
	color: #000;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	padding: .6666666667rem 0;
	text-align: center;
	transition:background-color .15s, color .15s, border-color .15s
}

@supports (padding: 0) {
	.tab__footer a {
		padding-bottom:max(.6666666667rem, env(safe-area-inset-bottom))
	}
}

@media screen and (min-width: 750px) {
	.tab__footer a {
		padding:.6153846154rem 0
	}
}

body.dark .tab__footer a {
	color:#fff
}

.tab__footer a:hover {
	font-style:italic
}

.tab__footer-btn {
	bottom: 0;
	padding: .6666666667rem 0;
	position: absolute;
	top:0
}

@supports (padding: 0) {
	.tab__footer-btn {
		padding-bottom:max(.6666666667rem, env(safe-area-inset-bottom))
	}
}

@media screen and (min-width: 750px) {
	.tab__footer-btn {
		padding:.6153846154rem 0
	}
}

.tab__footer-btn--left {
	left:0
}

.tab__footer-btn--right {
	right:0
}

.wrap {
	padding: 0 15px;
	width:100%
}

@media screen and (min-width: 750px) {
	.wrap {
		margin: 0 auto;
		padding: 0;
		width:85%
	}
}

@media screen and (min-width: 1024px) {
	.wrap {
		width:50%
	}
}

.wrap--center {
	display: flex;
	justify-content:center
}

.wrap--medium {
	width:100%
}

@media screen and (min-width: 750px) {
	.wrap--medium {
		margin: 0 auto;
		padding: 0;
		width:75%
	}
}

.wrap--wide {
	padding: 0 15px;
	width:100%
}

.wrap--small {
	margin: 0 auto;
	padding: 0;
	width:100%
}

@media screen and (min-width: 750px) {
	.wrap--small {
		width:30rem
	}
}

.scrollbar {
	align-items: flex-start;
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity .25s cubic-bezier(.22, 1, .36, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 15px;
	z-index:9999
}

@media print {
	.scrollbar {
		display:none
	}
}

.scrollbar__thumb {
	background-color: #000;
	transition: background-color .15s, color .15s, border-color .15s;
	width:3px
}

body.dark .scrollbar__thumb {
	background-color:#fff
}

.scrollbar--disabled {
	opacity:0
}

.js-lightbox {
	cursor:zoom-in
}

.lightbox {
	background-color: #fff;
	bottom: 0;
	cursor: zoom-out;
	display: flex;
	flex-direction: column;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index:9999
}

@media screen and (min-width: 750px) {
	.lightbox {
		background-color:transparent
	}
}

.lightbox__header {
	align-items: center;
	background-color: #fff;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	padding-bottom: 3px;
	position:relative
}

.lightbox__header, .lightbox__header:after {
	transition:background-color .15s, color .15s, border-color .15s
}

.lightbox__header:after {
	background-color: #000;
	bottom: 0;
	content: "";
	height: 3px;
	left: 15px;
	position: absolute;
	right:15px
}

body.dark .lightbox__header:after {
	background-color:#fff
}

@media print {
	.lightbox__header {
		border-bottom: 3px solid #000;
		padding-bottom:0
	}

	.lightbox__header:after {
		display:none
	}
}

body.dark .lightbox__header {
	background-color: #000;
	color:#fff
}

.lightbox__header span {
	display: block;
	padding:.6153846154rem 0
}

.lightbox__photo {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width:100%
}

.lightbox__box {
	position: relative;
	transition:height .7s cubic-bezier(.77, 0, .175, 1), width .7s cubic-bezier(.77, 0, .175, 1)
}

.lightbox__next {
	cursor: e-resize;
	right:0
}

.lightbox__next, .lightbox__prev {
	height: 100%;
	position: absolute;
	top: 0;
	width:50%
}

.lightbox__prev {
	cursor: w-resize;
	left:0
}

.lightbox__image {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 100%;
	width:100%
}

.lightbox__desc {
	align-items: center;
	background-color: #fff;
	border-top: 3px solid #000;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	margin-left: 15px;
	margin-right: 15px;
	padding: .6153846154rem 0;
	text-align: center;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .lightbox__desc {
	background-color: #000;
	border-color: #fff;
	color:#fff
}

.lightbox__close {
	align-items: center;
	background-color: #fff;
	border-top: 3px solid #000;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	margin-left: 15px;
	margin-right: 15px;
	padding: .6153846154rem 0;
	text-align: center;
	transition:background-color .15s, color .15s, border-color .15s
}

@supports (padding: 0) {
	.lightbox__close {
		padding-bottom:max(.6666666667rem, env(safe-area-inset-bottom))
	}
}

body.dark .lightbox__close {
	background-color: #000;
	border-color: #fff;
	color:#fff
}

.lightbox__close:hover {
	font-style:italic
}

#wrapper {
	height:100%
}

@media print {
	#wrapper {
		height:auto
	}
}

.logo {
	color: #000;
	padding: .6153846154rem 0;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .logo {
	color:#fff
}

.logo:hover {
	font-style:italic
}

.ratio-block {
	display: block;
	height: 0;
	padding-top: 66.66%;
	position: relative;
	width:100%
}

.ratio-block--interaction:hover .ratio-block__content {
	font-style:italic
}

.ratio-block__border {
	border: 3px solid #000;
	bottom: 0;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .ratio-block__border {
	border-color:#fff
}

.ratio-block__label {
	color: #000;
	font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
	font-size: .92rem;
	font-weight: 400;
	left: 0;
	letter-spacing: 0;
	line-height: 1.25;
	padding: .3333333333rem;
	position: absolute;
	top: 0;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .ratio-block__label {
	color:#fff
}

@media screen and (min-width: 750px) {
	.ratio-block__label {
		font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 1.25;
		padding:1rem
	}
}

.ratio-block__content {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	padding: 1rem;
	position: absolute;
	right: 0;
	text-align: center;
	top:0
}

@media screen and (min-width: 750px) {
	.ratio-block__content {
		padding:2rem
	}
}

@media screen and (min-width: 1150px) {
	.ratio-block__content {
		padding:2rem 3rem
	}
}

.placeholder, .ratio-block--portrait {
	padding-top:150%
}

.placeholder {
	display: block;
	height: 0;
	position: relative;
	width:100%
}

.placeholder:after {
	background-color: #000;
	content: "";
	height: 119%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: rotate(-33.33deg) translateX(-50%) translateY(-50%);
	transform-origin: 0 0;
	transition: background-color .15s, color .15s, border-color .15s;
	width:3px
}

body.dark .placeholder:after {
	background-color:#fff
}

.placeholder--alt:after {
	left: auto;
	right: 50%;
	transform:rotate(33.33deg) translateX(-50%) translateY(-50%)
}

.placeholder--landscape {
	padding-top:66.66%
}

.placeholder--landscape:after {
	height: 177%;
	transform:rotate(-56deg) translateX(-50%) translateY(-50%)
}

.placeholder--landscape.placeholder--alt:after {
	left: auto;
	right: 50%;
	transform:rotate(56deg) translateX(-50%) translateY(-50%)
}

.photo, .photo img {
	display: block;
	width:100%
}

.photo--ratio-portrait {
	background-color: #e6e6e6;
	height: 0;
	padding-top: 150%;
	position: relative;
	width:100%
}

.photo--ratio-portrait img {
	-webkit-animation: fadein .25s;
	animation: fadein .25s;
	position: absolute;
	top:0
}

.photo--ratio-landscape {
	background-color: #e6e6e6;
	height: 0;
	padding-top: 66.66%;
	position: relative;
	width:100%
}

.photo--ratio-landscape img {
	-webkit-animation: fadein .25s;
	animation: fadein .25s;
	position: absolute;
	top:0
}

.photo--fixed-portrait {
	width:50vw
}

@media print {
	.photo--fixed-portrait {
		width:40%
	}
}

@media screen and (min-width: 750px) {
	.photo--fixed-portrait {
		width:33vw
	}
}

@media screen and (min-width: 1150px) {
	.photo--fixed-portrait {
		width:18vw
	}
}

.photo--fixed-landscape {
	width:30rem
}

.photo--fixed-landscape-small {
	width:20rem
}

@media screen and (min-width: 1150px) {
	.photo--fixed-landscape-small {
		width:27vw
	}
}

.photo__note {
	font-size: .8rem;
	line-height: 1.25;
	margin-top:.6666666667rem
}

.photo__note, .title {
	display: block;
	font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	text-align: center;
	width:100%
}

.title {
	font-size: 2.1rem;
	line-height:1
}

@media screen and (min-width: 750px) {
	.title {
		font-size:2.75rem
	}
}

@media screen and (min-width: 1024px) {
	.title {
		font-size:3rem
	}
}

@media screen and (min-width: 1150px) {
	.title {
		font-size:3.3rem
	}
}

.title--small {
	border-bottom: 3px solid #000;
	display: block;
	font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.25;
	padding: .6153846154rem 0;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .title--small {
	border-bottom-color:#fff
}

.title--left {
	text-align:left
}

@media screen and (min-width: 750px) {
	.title--desktop-left {
		text-align:left
	}
}

.wysiwyg {
	color: #000;
	font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.25;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .wysiwyg {
	color:#fff
}

.wysiwyg sup {
	font-size: .75em;
	position: relative;
	top: -.4em;
	vertical-align:top
}

.wysiwyg div, .wysiwyg p, .wysiwyg ul {
	margin-bottom:1rem
}

.wysiwyg div:last-child, .wysiwyg p:last-child, .wysiwyg ul:last-child {
	margin-bottom:0
}

.wysiwyg ol, .wysiwyg ul {
	margin-left:1.3333333333rem
}

.wysiwyg ol li, .wysiwyg ul li {
	list-style: square;
	padding-left:2rem
}

.wysiwyg ol li:last-child, .wysiwyg ul li:last-child {
	margin-bottom:0
}

.wysiwyg a {
	border-bottom:1px solid #000
}

.wysiwyg strong {
	font-weight:700
}

.wysiwyg em {
	font-style:italic
}

.quote {
	align-items: center;
	border-left: 3px solid #000;
	border-right: 3px solid #000;
	display: flex;
	justify-content: center;
	padding: 4rem 10%;
	text-align: center;
	transition:background-color .15s, color .15s, border-color .15s
}

@media screen and (min-width: 750px) {
	.quote {
		padding:10rem 20%
	}
}

body.dark .quote {
	border-color:#fff
}

.button {
	border: 3px solid #000;
	display: block;
	padding: .6153846154rem 0;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

.button:hover {
	font-style:italic
}

body.dark .button {
	border-color:#fff
}

.text-block {
	display: block;
	width:100%
}

.text-block__header {
	margin-bottom:1rem
}

.nav-list__list {
	border-bottom: 3px solid #000;
	display: flex;
	flex-direction: column;
	transition:background-color .15s, color .15s, border-color .15s
}

@media screen and (min-width: 750px) {
	.nav-list__list {
		border-bottom: 0;
		flex-direction: row;
		text-align:center
	}
}

body.dark .nav-list__list {
	border-color:#fff
}

.nav-list__item a {
	border-top: 3px solid #000;
	color: #000;
	display: block;
	padding: .6666666667rem 0;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .nav-list__item a {
	border-top-color: #fff;
	color:#fff
}

.nav-list__item a:hover {
	font-style:italic
}

@media screen and (min-width: 750px) {
	.nav-list__item a {
		border: 0;
		display: initial;
		padding: .6666666667rem 0;
		text-align:initial
	}
}

.nav-list__item--active {
	font-style:italic
}

@media screen and (min-width: 750px) {
	.nav-list__item:after {
		color: #000;
		content: ", ";
		transition: background-color .15s, color .15s, border-color .15s;
		white-space:pre
	}

	body.dark .nav-list__item:after {
		color:#fff
	}

	.nav-list__item:last-child:after {
		display:none
	}
}

.project-item {
	display:block
}

.project-item__header {
	color: #000;
	margin-bottom: 1rem;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .project-item__header {
	color:#fff
}

.project-item:hover .project-item__header {
	font-style:italic
}

.project-item__read-more {
	white-space:nowrap
}

.thought-card {
	display:block
}

.thought-card__header {
	background-color: var(--color);
	margin-bottom: 1rem;
	width:100%
}

.thought-card:hover .thought-card__header {
	background-color:transparent
}

.thought-card--primary:hover .thought-card__header {
	background-color:var(--color)
}

.thought-card__content {
	font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
	font-size: .92rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height:1.25
}

.thought-card--primary .thought-card__content {
	display:none
}

@media screen and (min-width: 750px) {
	.thought-card--primary .thought-card__content {
		display:block
	}
}

.thought-card__read-more {
	white-space:nowrap
}

.dl {
	width:100%
}

.dl__item {
	border-bottom: 3px solid #000;
	padding: .6666666667rem 0;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .dl__item {
	border-color:#fff
}

.dl__key {
	display:inline
}

.dl__key:after {
	content: ": "
}

.dl__value {
	display:inline
}

.dl__more {
	display:none
}

@media print {
	.dl__more {
		display:block
	}
}

.dl--expanded .dl__more {
	display:block
}

.dl__footer {
	display: flex;
	justify-content:center
}

.dl__expand {
	color: #000;
	cursor: pointer;
	display: block;
	padding: .6666666667rem 0;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

@media print {
	.dl__expand {
		display:none
	}
}

body.dark .dl__expand {
	color:#fff
}

.dl__expand:hover {
	font-style:italic
}

.tag-list, .tag-list__item {
	display:inline
}

.tag-list__item:hover {
	font-style:italic
}

.tag-list__item:hover:after {
	font-style:normal
}

.tag-list__item:after {
	content: " /"
}

.tag-list__item:last-child:after {
	display:none
}

.item-grid {
	grid-gap: 15px;
	display: grid;
	width:100%
}

@media screen and (min-width: 750px) {
	.item-grid {
		grid-template-columns:repeat(2, 1fr)
	}
}

@media screen and (min-width: 1024px) {
	.item-grid {
		grid-template-columns:repeat(3, 1fr)
	}
}

@media screen and (min-width: 1150px) {
	.item-grid {
		grid-template-columns:repeat(5, 1fr)
	}
}

.item-grid--standalone {
	padding-top:15px
}

.item-grid--standalone .item-grid__item {
	border-bottom: 3px solid #000;
	padding-bottom:30px
}

.item-grid--borderless .item-grid__item {
	border-bottom: 0;
	padding-bottom:0
}

.slideshow {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select:none
}

.slideshow__header {
	border-bottom: 3px solid #000;
	display: flex;
	margin-bottom: 1rem;
	padding: .6153846154rem 0;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .slideshow__header {
	border-bottom-color:#fff
}

.slideshow__header-title {
	text-align: center;
	width:60%
}

@media print {
	.slideshow__header-title {
		page-break-after: avoid;
		width:100%
	}
}

.slideshow__header-prev {
	text-align: left;
	width:20%
}

@media print {
	.slideshow__header-prev {
		display:none
	}
}

.slideshow__header-next {
	text-align: right;
	width:20%
}

@media print {
	.slideshow__header-next {
		display:none
	}
}

.slideshow__next {
	color: #000;
	cursor: pointer;
	transition: opacity .25s;
	transition:background-color .15s, color .15s, border-color .15s
}

.slideshow--no-next .slideshow__next {
	cursor: auto;
	opacity:0
}

body.dark .slideshow__next {
	color:#fff
}

.slideshow__next:hover {
	font-style:italic
}

.slideshow__prev {
	color: #000;
	cursor: pointer;
	transition: opacity .25s;
	transition:background-color .15s, color .15s, border-color .15s
}

.slideshow--no-prev .slideshow__prev {
	cursor: auto;
	opacity:0
}

body.dark .slideshow__prev {
	color:#fff
}

.slideshow__prev:hover {
	font-style:italic
}

.slideshow__next-zone {
	bottom: 0;
	cursor: e-resize;
	position: absolute;
	right: 0;
	top: 0;
	width: 10%;
	z-index:9999
}

.slideshow--no-next .slideshow__next-zone {
	display:none
}

.slideshow__prev-zone {
	bottom: 0;
	cursor: w-resize;
	left: 0;
	position: absolute;
	top: 0;
	width: 10%;
	z-index:9999
}

.slideshow--no-prev .slideshow__prev-zone {
	display:none
}

.slideshow__content {
	overflow: hidden;
	position:relative
}

@media print {
	.slideshow__content {
		overflow:initial
	}
}

.slideshow__container {
	display: flex;
	flex-wrap: nowrap;
	justify-content:flex-start
}

@media print {
	.slideshow__container {
		flex-wrap:wrap
	}
}

.slideshow__item {
	flex-shrink: 0;
	padding-right:15px
}

@media print {
	.slideshow__item {
		margin-bottom:2rem
	}
}

.slideshow__item:last-child {
	margin-right:0
}

.slideshow__photo {
	display: block;
	width:100%
}

.slideshow__photo img {
	display: block;
	height: 16rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width:auto
}

@media screen and (min-width: 750px) {
	.slideshow__photo img {
		height:28rem
	}
}

.content-section {
	display: block;
	width:100%
}

.content-section__header {
	margin-bottom:1rem
}

.content-section__content {
	font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
	font-size: .92rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height:1.25
}

.content-section__read-more {
	white-space:nowrap
}

.video-thumb {
	background-color: #e6e6e6;
	display: block;
	height: 0;
	padding-top: 66.66%;
	position: relative;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .video-thumb {
	background-color:#000
}

.video-thumb img {
	-webkit-animation: fadein .25s;
	animation:fadein .25s
}

.video-thumb img, .video-thumb__video {
	display: block;
	position: absolute;
	top: 0;
	width:100%
}

.video-thumb__video {
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	opacity: 0;
	transition: opacity .75s;
	z-index:1
}

.video-thumb--play .video-thumb__video {
	opacity:1
}

.studio-nav {
	padding: 15px 0;
	width:100%
}

@media print {
	.studio-nav {
		display:none
	}
}

@media screen and (min-width: 750px) {
	.studio-nav {
		border-bottom: 3px solid #000;
		margin-bottom: .6666666667rem;
		padding: .6666666667rem 0;
		transition:background-color .15s, color .15s, border-color .15s
	}

	body.dark .studio-nav {
		border-bottom-color:#fff
	}
}

.studio-nav__list {
	grid-gap: 10px;
	display:grid
}

@media screen and (min-width: 750px) {
	.studio-nav__list {
		grid-gap: 15px;
		grid-template-columns:repeat(4, 1fr)
	}
}

.studio-nav__item a {
	background-color: var(--color);
	color: #000;
	display: block;
	padding: .6153846154rem .5rem;
	text-align: center;
	transition:background-color .15s, color .15s, border-color .15s
}

.studio-nav__item a:hover {
	font-style:italic
}

body.dark .studio-nav__item a {
	color:#fff
}

@media screen and (min-width: 750px) {
	.studio-nav__item a {
		text-align:left
	}
}

.studio-nav__item--active a {
	font-style:italic
}

@media screen and (min-width: 750px) {
	.studio-nav__item--active a {
		background-color: #fff;
		transition:background-color .15s, color .15s, border-color .15s
	}

	body.dark .studio-nav__item--active a {
		background-color:#141414
	}
}

.now-card {
	display: block;
	position: relative;
	width:100%
}

.now-card__content {
	color: #000;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .now-card__content {
	color:#fff
}

.now-card:hover .now-card__photo {
	opacity:1
}

.now-card:hover .now-card__content {
	opacity:0
}

.now-card__photo {
	background-color: #fff;
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity .15s;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .now-card__photo {
	background-color:#141414
}

.socials {
	border-left: 3px solid #000;
	display: flex;
	flex-direction: row;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .socials {
	border-left-color:#fff
}

.socials__item {
	border-right: 3px solid #000;
	display: flex;
	flex: 1;
	justify-content: center;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .socials__item {
	border-right-color:#fff
}

.socials__item a {
	display: block;
	padding: 6rem 0;
	text-align: center;
	width:100%
}

@media screen and (min-width: 750px) {
	.socials__item a {
		padding:7rem 0
	}
}

.socials__item a:hover {
	background-color:var(--color)
}

.button-stack {
	display: block;
	width:100%
}

.button-stack__button {
	margin-bottom:2.5rem
}

.button-stack__button:hover {
	font-style:italic
}

.button-stack__button:last-child {
	margin-bottom:0
}

.newsletter-subscribe {
	border: 3px solid #000;
	display: flex;
	flex-direction: column;
	position: relative;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .newsletter-subscribe {
	border-color:#fff
}

@media screen and (min-width: 750px) {
	.newsletter-subscribe {
		flex-direction:row
	}
}

.newsletter-subscribe__field {
	border-bottom: 3px solid #000;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .newsletter-subscribe__field {
	border-bottom-color:#fff
}

@media screen and (min-width: 750px) {
	.newsletter-subscribe__field {
		border-bottom: 0;
		border-right: 3px solid #000;
		flex: 1;
		transition: background-color .15s, color .15s, border-color .15s;
		width:50%
	}

	body.dark .newsletter-subscribe__field {
		border-right-color:#fff
	}
}

.newsletter-subscribe__button {
	width:100%
}

@media screen and (min-width: 750px) {
	.newsletter-subscribe__button {
		flex: 1;
		width:50%
	}
}

.newsletter-subscribe__input {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	border: 0;
	color: #000;
	display: block;
	padding: .6153846154rem 0 .6153846154rem 15px;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .newsletter-subscribe__input {
	background-color: #141414;
	color:#fff
}

@media screen and (min-width: 750px) {
	.newsletter-subscribe__input {
		text-align:left
	}
}

.newsletter-subscribe__submit {
	color: #000;
	cursor: pointer;
	display: block;
	padding: .6153846154rem 0 .6153846154rem 15px;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .newsletter-subscribe__submit {
	color:#fff
}

.newsletter-subscribe__submit:hover {
	font-style:italic
}

@media screen and (min-width: 750px) {
	.newsletter-subscribe__submit {
		text-align:left
	}
}

.newsletter-subscribe__success {
	align-items: center;
	background-color: #fff;
	bottom: 0;
	color: #000;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .newsletter-subscribe__success {
	background-color: #141414;
	color:#fff
}

.item-stack {
	padding:0 4rem
}

@media screen and (min-width: 750px) {
	.item-stack {
		padding:0
	}
}

.item-stack__item {
	margin-bottom: 1.3333333333rem;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .item-stack__item {
	border-color:#fff
}

.item-stack__item:last-child {
	margin-bottom:0
}

.item-index {
	display: block;
	width:100%
}

.item-index__header {
	display: none;
	padding-left: 0;
	position:relative
}

@media screen and (min-width: 750px) {
	.item-index__header {
		display: block;
		padding-left:20%
	}
}

.item-index__row {
	display: block;
	padding-left: 0;
	position:relative
}

@media screen and (min-width: 750px) {
	.item-index__row {
		padding-left:20%
	}
}

.item-index__row:hover {
	font-style:italic
}

@media screen and (min-width: 750px) {
	.item-index__row:hover .item-index__row-thumb {
		opacity: 1;
		transition:opacity .25s
	}

	.item-index__row:hover .item-index__type:before {
		background-color: #000;
		border-radius: 50%;
		content: "";
		display: block;
		flex-shrink: 0;
		height: 12px;
		margin-right: .5rem;
		transition: background-color .15s, color .15s, border-color .15s;
		width:12px
	}

	body.dark .item-index__row:hover .item-index__type:before {
		background-color:#fff
	}
}

.item-index__header-content {
	grid-gap: .5rem;
	border-bottom: 3px solid #000;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: .6153846154rem 0;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .item-index__header-content {
	border-bottom-color:#fff
}

@media screen and (min-width: 750px) {
	.item-index--projects .item-index__header-content {
		grid-template-columns:1fr 3fr 3fr 2fr 2fr 1fr
	}
}

.item-index--news .item-index__header-content {
	grid-template-columns:1fr 5fr 4fr 2fr
}

.item-index--cinema .item-index__header-content, .item-index--thoughts .item-index__header-content {
	grid-template-columns:1fr 6fr 5fr
}

.item-index--encounters .item-index__header-content {
	grid-template-columns:1fr 11fr
}

.item-index__row-content {
	border-bottom: 3px solid #000;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: .6153846154rem 0;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .item-index__row-content {
	border-bottom-color:#fff
}

@media screen and (min-width: 750px) {
	.item-index__row-content {
		grid-gap: .5rem;
		grid-template-columns:repeat(6, 1fr)
	}

	.item-index--projects .item-index__row-content {
		grid-template-columns:1fr 3fr 3fr 2fr 2fr 1fr
	}

	.item-index--news .item-index__row-content {
		grid-template-columns:1fr 5fr 4fr 2fr
	}

	.item-index--cinema .item-index__row-content, .item-index--thoughts .item-index__row-content {
		grid-template-columns:1fr 6fr 5fr
	}

	.item-index--encounters .item-index__row-content {
		grid-template-columns:1fr 11fr
	}
}

.item-index__type {
	color: #000;
	grid-column: 1/1;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .item-index__type {
	color:#fff
}

@media screen and (min-width: 750px) {
	.item-index__type {
		align-items: center;
		display: flex;
		grid-column: initial;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space:nowrap
	}
}

.item-index__text {
	color: #000;
	grid-column: 2/2;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .item-index__text {
	color:#fff
}

@media screen and (min-width: 750px) {
	.item-index__text {
		grid-column: initial;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space:nowrap
	}
}

.item-index__row-thumb {
	display: none;
	left: 0;
	opacity: 0;
	padding-right: 15px;
	position: absolute;
	top: 0;
	width:20%
}

@media screen and (min-width: 750px) {
	.item-index__row-thumb {
		display:block
	}
}

.item-index__row-thumb--reverse {
	bottom: 0;
	top:auto
}

.search-col {
	display: block;
	height: 100%;
	width:100%
}

@media screen and (min-width: 750px) {
	.search-col {
		overflow-y:scroll
	}
}

.search-col__title {
	color: #000;
	font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.25;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .search-col__title {
	color:#fff
}

@media screen and (min-width: 750px) {
	.search-col__title {
		font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 1.25;
		margin-bottom:1rem
	}
}

.search-col__content {
	overflow:hidden
}

.search-col__list {
	display:block
}

.search-col__list a {
	align-items: center;
	color: #000;
	display: flex;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .search-col__list a {
	color:#fff
}

.search-col__list a.active, .search-col__list a:hover {
	font-style:italic
}

.search-col__list a.active:before {
	background-color: #000;
	border-radius: 50%;
	content: "";
	display: block;
	height: 12px;
	margin-right: .5rem;
	transition: background-color .15s, color .15s, border-color .15s;
	width:12px
}

body.dark .search-col__list a.active:before {
	background-color:#fff
}

.team-index {
	display: flex;
	flex-direction: column;
	width:100%
}

@media screen and (min-width: 750px) {
	.team-index {
		flex-direction:row
	}
}

.team-index__col {
	width:100%
}

@media screen and (min-width: 750px) {
	.team-index__col {
		width:50%
	}

	.team-index__col:first-child {
		padding-right:15px
	}

	.team-index__col:last-child {
		padding-left:15px
	}
}

.team-cat {
	margin-bottom:1rem
}

.team-cat__title {
	margin-bottom:.6666666667rem
}

.news-article {
	padding-top:1.3333333333rem
}

.news-article__header {
	display:flex
}

.news-article__date {
	width:25%
}

.news-article__hid {
	text-align: center;
	width:50%
}

.news-article__title {
	margin-bottom: 1.3333333333rem;
	text-align:center
}

.news-article__footer {
	margin-top:2rem
}

.cinema-video {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width:100%
}

.cinema-video__video {
	padding: 15px;
	width:100%
}

@media screen and (min-width: 750px) {
	.cinema-video__video {
		padding: 0;
		width:50%
	}
}

.cookie-notice {
	left: 0;
	padding-right: 15px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: transform .25s;
	width: 50vw;
	z-index:9999
}

body.remove-cookie-notice .cookie-notice {
	transform:translateY(-50%) translateX(-100%)
}

@media screen and (min-width: 650px) {
	.cookie-notice {
		width:32vw
	}
}

@media screen and (min-width: 750px) {
	.cookie-notice {
		width:24vw
	}
}

@media screen and (min-width: 1024px) {
	.cookie-notice {
		width:20vw
	}
}

.cookie-notice__wrap {
	background-color: #fcea9c;
	display: block;
	height: 0;
	padding-top: 150%;
	position: relative;
	width:100%
}

.cookie-notice__content {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	padding: 2rem;
	position: absolute;
	right: 0;
	top:0
}

.cookie-notice__agree-btn, .cookie-notice__text {
	color: #000;
	display: block;
	text-align:center
}

.cookie-notice__agree-btn {
	bottom: 0;
	cursor: pointer;
	left: 0;
	padding: .6153846154rem 0;
	position: absolute;
	right: 0;
	width:100%
}

.cv {
	display:block
}

.cv__item {
	display:flex
}

.cv__date {
	width:22%
}

@media screen and (min-width: 750px) {
	.cv__date {
		width:13%
	}
}

.cv__description {
	width:78%
}

@media screen and (min-width: 750px) {
	.cv__description {
		width:87%
	}
}

.notes {
	display:block
}

.notes__header {
	margin-bottom: 1rem;
	text-align:center
}

.notes__content, .notes__header {
	font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
	font-size: .92rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height:1.25
}

@media screen and (min-width: 750px) {
	.notes__content {
		-moz-column-count: 2;
		column-count: 2;
		-moz-column-gap: 2rem;
		column-gap:2rem
	}
}

.note__number:after {
	content: ". "
}

.news-attachments {
	grid-gap: 15px;
	display: grid;
	padding:0 4rem
}

@media screen and (min-width: 750px) {
	.news-attachments {
		grid-template-columns: repeat(3, 1fr);
		padding:0
	}
}

.search-form {
	cursor: text;
	display: block;
	height:100%
}

.search-form__input {
	-webkit-appearance: none;
	background-color: transparent;
	border: 0;
	color: #000;
	display: block;
	font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.25;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .search-form__input {
	color:#fff
}

@media screen and (min-width: 750px) {
	.search-form__input {
		font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: 0;
		line-height:1.25
	}
}

.address__cols {
	display: flex;
	flex-direction: column;
	width:100%
}

@media screen and (min-width: 750px) {
	.address__cols {
		flex-direction:row
	}
}

.address__col {
	margin-bottom: 1rem;
	width:100%
}

.address__col:last-child {
	margin-bottom:0
}

@media screen and (min-width: 750px) {
	.address__col {
		margin-bottom: 0;
		width:50%
	}

	.address__col:first-child {
		padding-right:15px
	}

	.address__col:last-child {
		padding-left:15px
	}
}

.address__section {
	margin-bottom:1rem
}

@media screen and (min-width: 750px) {
	.address__section {
		margin-bottom:.6666666667rem
	}
}

.address__section:last-child {
	margin-bottom:0
}

.address__title {
	margin-bottom:.5rem
}

.address__footer {
	margin-top:1.3333333333rem
}

.mini-slideshow {
	display: block;
	width:100%
}

.mini-slideshow__slide {
	display:none
}

.mini-slideshow__slide--active {
	display:block
}

.mini-slideshow__next {
	color: #000;
	cursor: pointer;
	transition:background-color .15s, color .15s, border-color .15s
}

.mini-slideshow__next:hover {
	font-style:italic
}

body.dark .mini-slideshow__next {
	color:#fff
}

.mini-slideshow__prev {
	color: #000;
	cursor: pointer;
	transition:background-color .15s, color .15s, border-color .15s
}

.mini-slideshow__prev:hover {
	font-style:italic
}

body.dark .mini-slideshow__prev {
	color:#fff
}

.mini-slideshow__footer {
	color: #000;
	padding: .6153846154rem 0;
	text-align: center;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .mini-slideshow__footer {
	color:#fff
}

.video {
	display: flex;
	position:relative
}

.video, .video__credits {
	align-items: center;
	justify-content:center
}

.video__credits {
	bottom: 0;
	display: none;
	flex-direction: column;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index:2
}

.video--credits .video__credits {
	display:flex
}

.video__credit {
	color: #fff;
	text-align:center
}

.video__credit:first-child {
	margin-bottom:1rem
}

.video__placeholder {
	background-position: 50%;
	background-size: cover;
	cursor:pointer
}

.video__placeholder, .video__placeholder:after {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index:1
}

.video__placeholder:after {
	background-color: rgba(0, 0, 0, .45);
	content: "";
	display:block
}

.video--credits .video__placeholder {
	opacity:0
}

.video--playing .video__placeholder {
	display:none
}

.video__play {
	align-items: center;
	bottom: 0;
	color: #fff;
	display: flex;
	justify-content: center;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	z-index:1
}

.video--credits .video__play, .video--playing .video__play {
	display:none
}

.video__video {
	display: block;
	width:100%
}

.video--credits .video__video {
	opacity:0
}

.view-switcher {
	display: flex;
	flex-direction: column;
	width:100%
}

@media screen and (min-width: 750px) {
	.view-switcher {
		flex-direction: row;
		width:auto
	}
}

.view-switcher__item {
	display: block;
	text-align: center;
	width:100%
}

@media screen and (min-width: 750px) {
	.view-switcher__item {
		display: initial;
		text-align: initial;
		width:auto
	}

	.view-switcher__item:after {
		color: #000;
		content: ", ";
		transition: background-color .15s, color .15s, border-color .15s;
		white-space:pre
	}

	body.dark .view-switcher__item:after {
		color:#fff
	}

	.view-switcher__item:last-child:after {
		display:none
	}
}

.view-switcher__item a {
	border-bottom: 3px solid #000;
	color: #000;
	display: block;
	padding: .6666666667rem 0;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .view-switcher__item a {
	border-bottom-color: #fff;
	color:#fff
}

.view-switcher__item a:hover {
	font-style:italic
}

@media screen and (min-width: 750px) {
	.view-switcher__item a {
		border: 0;
		display: initial;
		padding:initial
	}
}

.view-switcher__item--active {
	font-style:italic
}

.view-menu__button {
	display:block
}

@media screen and (min-width: 750px) {
	.view-menu__button {
		display:none
	}
}

.view-menu__switcher {
	background-color: #fff;
	display: none;
	left: 0;
	padding: 0 15px;
	position: absolute;
	right: 0;
	top: 100%;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .view-menu__switcher {
	background-color:#141414
}

body.open-view-switcher .view-menu__switcher {
	display:block
}

@media screen and (min-width: 750px) {
	.view-menu__switcher {
		display: block;
		padding: 0;
		position:static
	}
}

.line-placeholder {
	display: block;
	height: 100%;
	position: relative;
	width:100%
}

.line-placeholder__line {
	background-color: #000;
	display: block;
	height: 3px;
	left: 15px;
	position: absolute;
	right: 15px;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .line-placeholder__line {
	background-color:#fff
}

.line-placeholder__line--line-1 {
	top:3%
}

.line-placeholder__line--line-2 {
	top:9%
}

.line-placeholder__line--line-3 {
	top:15%
}

.line-placeholder__line--line-4 {
	top:21%
}

.line-placeholder__line--line-5 {
	top:27%
}

.line-placeholder__line--line-6 {
	top:45%
}

.line-placeholder__line--line-7 {
	top:63%
}

.line-placeholder__line--line-8 {
	top:75%
}

.line-placeholder__line--line-9 {
	top:81%
}

.header {
	background-color: #fff;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .header {
	background-color:#141414
}

.header__top {
	align-items: center;
	display: flex;
	justify-content: center;
	padding-bottom: 3px;
	position:relative
}

.header__top, .header__top:after {
	transition:background-color .15s, color .15s, border-color .15s
}

.header__top:after {
	background-color: #000;
	bottom: 0;
	content: "";
	height: 3px;
	left: 15px;
	position: absolute;
	right:15px
}

body.dark .header__top:after {
	background-color:#fff
}

@media print {
	.header__top {
		border-bottom: 3px solid #000;
		padding-bottom:0
	}

	.header__top:after {
		display:none
	}
}

body.dark .header__top {
	color:#fff
}

.header__bottom {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 3px;
	position:relative
}

.header__bottom, .header__bottom:after {
	transition:background-color .15s, color .15s, border-color .15s
}

.header__bottom:after {
	background-color: #000;
	bottom: 0;
	content: "";
	height: 3px;
	left: 15px;
	position: absolute;
	right:15px
}

body.dark .header__bottom:after {
	background-color:#fff
}

@media print {
	.header__bottom {
		border-bottom: 3px solid #000;
		padding-bottom:0
	}

	.header__bottom, .header__bottom:after {
		display:none
	}
}

.header__bottom--hidden {
	visibility:hidden
}

body.dark .header__bottom {
	color:#fff
}

.header__title {
	color: #000;
	flex-grow: 1;
	padding: .6153846154rem 0;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:60%
}

.header__title a:hover {
	font-style:italic
}

body.dark .header__title {
	color:#fff
}

.header__left {
	flex-grow: 1;
	padding: .6153846154rem 0 .6153846154rem 15px;
	width:20%
}

.header__left a, .header__left button {
	color: #000;
	transition:background-color .15s, color .15s, border-color .15s
}

.header__left a:hover, .header__left button:hover {
	font-style:italic
}

body.dark .header__left a, body.dark .header__left button {
	color:#fff
}

.header__right {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	padding: .6153846154rem 15px .6153846154rem 0;
	width:20%
}

.header__right a, .header__right button {
	color: #000;
	cursor: pointer;
	transition:background-color .15s, color .15s, border-color .15s
}

.header__right a:hover, .header__right button:hover {
	font-style:italic
}

body.dark .header__right a, body.dark .header__right button {
	color:#fff
}

.header__right .active {
	font-style:italic
}

.header--stub {
	pointer-events: none;
	visibility:hidden
}

.nav {
	position:relative
}

.nav, .nav__wrap {
	padding: 0 15px;
	transition:background-color .15s, color .15s, border-color .15s
}

.nav__wrap {
	background-color: #fff;
	bottom: 100%;
	display: none;
	flex-direction: column;
	left: 0;
	position: absolute;
	width: 100%;
	z-index:2
}

body.open-nav .nav__wrap {
	display:flex
}

@media screen and (min-width: 750px) {
	.nav__wrap {
		align-items: center;
		border-top: 3px solid #000;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: .6153846154rem 0;
		position: static;
		transition:background-color .15s, color .15s, border-color .15s
	}

	body.dark .nav__wrap {
		border-top-color:#fff
	}
}

body.dark .nav__wrap {
	background-color:#141414
}

body.dark .nav {
	border-top-color: #fff;
	color:#fff
}

.nav__about {
	margin-top: 2.6rem;
	order:2
}

@media screen and (min-width: 750px) {
	.nav__about {
		margin-top:0
	}
}

.nav__about a {
	border-top: 3px solid #000;
	display: block;
	padding: .6153846154rem 0;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .nav__about a {
	border-top-color:#fff
}

.nav__about a:hover {
	font-style:italic
}

@media screen and (min-width: 750px) {
	.nav__about a {
		border: 0;
		display: initial;
		padding: initial;
		text-align: initial;
		width:auto
	}

	.nav__about {
		border: 0;
		display: flex;
		justify-content: flex-start;
		order: 1;
		padding: initial;
		text-align: left;
		width:20%
	}
}

.nav__search {
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	display: block;
	margin-bottom: 2.6rem;
	order: 3;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .nav__search {
	border-color:#fff
}

@media screen and (min-width: 750px) {
	.nav__search {
		border-bottom: 0;
		margin-bottom: 0;
		padding:.6153846154rem 0
	}
}

.nav__search button {
	color: #000;
	cursor: pointer;
	display: block;
	padding: .6153846154rem 0;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .nav__search button {
	color:#fff
}

@media screen and (min-width: 750px) {
	.nav__search button {
		display: initial;
		padding: 0;
		text-align: right;
		width:auto
	}
}

.nav__search button:hover {
	font-style:italic
}

@media screen and (min-width: 750px) {
	.nav__search {
		border: 0;
		display: flex;
		justify-content: flex-end;
		padding: 0;
		text-align: right;
		width:20%
	}
}

.nav__main {
	order: 1;
	width:100%
}

@media screen and (min-width: 750px) {
	.nav__main {
		display: flex;
		justify-content: center;
		order: 2;
		width:60%
	}
}

.nav__menu {
	border-top: 3px solid #000;
	color: #000;
	cursor: pointer;
	display: block;
	padding: .6666666667rem 0;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

@supports (padding: 0) {
	.nav__menu {
		padding-bottom:max(.6666666667rem, env(safe-area-inset-bottom))
	}
}

body.dark .nav__menu {
	border-top-color: #fff;
	color:#fff
}

@media screen and (min-width: 750px) {
	.nav__menu {
		display:none
	}
}

@media print {
	.nav__menu {
		display:none
	}
}

.hscroll {
	display: block;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width:100%
}

@media print {
	.hscroll {
		display:none
	}
}

.hscroll__container {
	display: flex;
	flex-wrap: nowrap;
	width:100%
}

.hscroll__item {
	box-sizing: border-box;
	flex: 0 0 auto;
	padding-right: 15px;
	width:48.5vw
}

.hscroll__item--landscape {
	width:72.75vw
}

@media screen and (min-width: 650px) {
	.hscroll__item {
		width:30vw
	}

	.hscroll__item--landscape {
		width:45vw
	}
}

@media screen and (min-width: 750px) {
	.hscroll__item {
		width:27vw
	}

	.hscroll__item--landscape {
		width:40.5vw
	}
}

@media screen and (min-width: 1024px) {
	.hscroll__item {
		width:22vw
	}

	.hscroll__item--landscape {
		width:33vw
	}
}

@media screen and (min-width: 1150px) {
	.hscroll__item {
		width:18vw
	}

	.hscroll__item--landscape {
		width:27vw
	}
}

@media screen and (min-width: 1375px) {
	.hscroll__item {
		width:17vw
	}

	.hscroll__item--landscape {
		width:25.5vw
	}
}

@media screen and (min-width: 1900px) {
	.hscroll__item {
		width:15vw
	}

	.hscroll__item--landscape {
		width:22.5vw
	}
}

.hscroll__item:first-child {
	margin-left:15px
}

.hscroll__tooltip {
	display: block;
	margin-top: -.5rem;
	padding: 0 4rem;
	position: absolute;
	text-align: center;
	top: 0;
	transform: translateY(-100%);
	width:100%
}

@media screen and (min-width: 750px) {
	.hscroll__tooltip {
		padding:0
	}
}

body.dark .hscroll__tooltip {
	color:#fff
}

.vscroll {
	display: block;
	height: 100%;
	overflow: hidden;
	width:100%
}

@media print {
	.vscroll {
		height: auto;
		overflow:initial
	}
}

.vscroll__container {
	display: block;
	padding-bottom: 4rem;
	width:100%
}

@media print {
	.vscroll__container {
		transform:translateY(0) !important
	}
}

.doc-head {
	display: block;
	margin: 0 auto;
	width:20rem
}

@media screen and (min-width: 750px) {
	.doc-head {
		width:100%
	}
}

@media print {
	.doc-head {
		width:60%
	}
}

.doc-head__wrap {
	border-left: 3px solid #000;
	border-right: 3px solid #000;
	padding-bottom: 4rem;
	position: relative;
	transition:background-color .15s, color .15s, border-color .15s
}

@media screen and (min-width: 750px) {
	.doc-head__wrap {
		padding:0 4rem 8rem
	}
}

body.dark .doc-head__wrap {
	border-color:#fff
}

@media screen and (min-width: 1150px) {
	.doc-head__wrap {
		padding:0 8rem 12rem
	}
}

.doc-head__note {
	bottom: 0;
	display: block;
	left: 0;
	margin-top: .6666666667rem;
	position: absolute;
	right: 0;
	text-align:center
}

.document {
	display: flex;
	flex-direction:column
}

.document__top {
	padding-left:15px
}

@media print {
	.document__top {
		display:none
	}
}

.document__head {
	margin-bottom: 1.3333333333rem;
	margin-top:1.6rem
}

@media print {
	.document__head {
		margin-bottom: .6666666667rem;
		margin-top:.6666666667rem
	}
}

@media screen and (min-width: 750px) {
	.document__head {
		margin-bottom:0
	}
}

.document--textual .document__head {
	margin-bottom:2rem
}

.document__footer {
	margin-top:4rem
}

@media print {
	.document__footer {
		display:none
	}
}

.article {
	display: block;
	width:100%
}

.article__block {
	margin-bottom:2rem
}

.article__block--extra-space {
	margin-bottom:4rem
}

@media print {
	.article__block--extra-space {
		margin-bottom:2rem
	}
}

.article__block:last-child {
	margin-bottom:0
}

.footer {
	width:100%
}

.footer__buttons, .footer__newsletter, .footer__socials {
	margin-bottom:2.5rem
}

.footer__copyright {
	font-family: Antique Legacy Medium, Helvetica Neue, sans-serif;
	font-size: .8rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.25;
	padding-top: 15rem;
	position: relative;
	text-align:center
}

.footer__copyright a:hover {
	font-style:italic
}

.footer__copyright:after {
	background-color: #000;
	content: "";
	display: block;
	height: 14rem;
	left: 50%;
	margin-left: -1.5px;
	position: absolute;
	top: 0;
	transition: background-color .15s, color .15s, border-color .15s;
	width:3px
}

.search, body.dark .footer__copyright:after {
	background-color:#fff
}

.search {
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 15px;
	position: absolute;
	transform: translateY(100%);
	transition: background-color .15s, color .15s, border-color .15s;
	transition: transform 1s cubic-bezier(.77, 0, .175, 1), background-color .15s, color .15s, border-color .15s;
	width: 100%;
	z-index:10000
}

@media print {
	.search {
		display:none
	}
}

body.dark .search {
	background-color:#141414
}

body.open-search .search {
	transform:translateY(0)
}

.search__container {
	border-top: 3px solid #000;
	transition:background-color .15s, color .15s, border-color .15s
}

body.dark .search__container {
	border-color:#fff
}

.search__scroll {
	height: 50vh;
	overflow:hidden
}

@media screen and (min-width: 750px) {
	.search__scroll {
		height: auto;
		margin-bottom: 15px;
		padding-top:15px
	}
}

.search__wrap {
	display: flex;
	flex-direction: column;
	padding-bottom: 6rem;
	padding-top:15px
}

@media screen and (min-width: 750px) {
	.search__wrap {
		flex-direction: row;
		height: 35vh;
		overflow-y: initial;
		padding-bottom: 0;
		padding-top:0
	}
}

.search__col {
	border-bottom: 3px solid #000;
	margin-bottom: 15px;
	padding-bottom: 15px;
	transition:background-color .15s, color .15s, border-color .15s
}

.search__col--empty {
	display:none
}

@media screen and (min-width: 750px) {
	.search__col--empty {
		display:block
	}
}

body.dark .search__col {
	border-color:#fff
}

.search__col:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom:0
}

@media screen and (min-width: 750px) {
	.search__col {
		border-bottom: 0;
		border-right: 3px solid #000;
		margin-bottom: 0;
		min-height: 100%;
		padding-bottom: 0;
		padding-left: 15px;
		width:20%
	}
}

.search__col:last-child {
	border-right:0
}

.search__status {
	border-top: 3px solid #000;
	color: #000;
	padding: .6153846154rem 0;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

body.dark .search__status {
	border-color:#fff
}

@media screen and (min-width: 750px) {
	.search__status {
		border-top:0
	}
}

.search__status span {
	-webkit-animation: fadein 1s;
	animation:fadein 1s
}

.search__status a {
	color: #000;
	transition:background-color .15s, color .15s, border-color .15s
}

.search__status a:hover {
	font-style:italic
}

body.dark .search__status, body.dark .search__status a {
	color:#fff
}

@media screen and (min-width: 750px) {
	.search__status {
		border-top: 0;
		padding-top:0
	}
}

.search__footer button {
	align-items: center;
	background-color: #fff;
	border-top: 3px solid #000;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: .6153846154rem 0;
	text-align: center;
	transition: background-color .15s, color .15s, border-color .15s;
	width:100%
}

.search__footer button:hover {
	font-style:italic
}

body.dark .search__footer button {
	background-color: #141414;
	border-color: #fff;
	color: #fff
}

