@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Plus+Jakarta+Sans:ital,wght@0,400;0,800;1,400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #f0f0f0;
    background-color: #1e1e1e;
    font-family: 'Nanum Myeongjo', serif;
}

footer {
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;

    a { color: white; }
}

.onloadpage {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .22em;

    // border: 1px solid yellow;

    .linerow {
        width: 100%;
        display: flex;
        justify-content: space-around;

        // border: 1px solid red;
    }

    .line_text {

        overflow: hidden;
        
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 7vw;
        line-height: 1.4;   // consider lowecase

        .letter {
            position: relative;
            // border: 1px solid red;
            display:inline-block;
            transform: translateY(200%);

            &::before {
                // border: 1px solid red;
                position: absolute;
                top: 0;
                left: 0;
                content: attr(data-char);
                transform: translateY(-100%);
            }

            // hide this . for animation not to show
            &[data-char="."]::before {
                opacity: 0;
            }

            // put real letters same level with fake one
            &[data-char="."] {
                transform: translateY(100%);
            }
        }

        .lowercase {
            font-family: 'Nanum Myeongjo', serif;
            font-size: 4vw;
        }
    }
}