@media (max-width: 768px) {
  html {
    font-size: 2vw;
    --top-margin: 10rem;
  }
  .projects-list {
    grid-template-columns: repeat(2, 1fr)!important;
  }
  #bottom .contacts {
    display: block!important;
  }
  #bottom padding-top {
    var(--gutter)
  }
  #bottom .contacts .social {
    text-align: left!important;
    margin-top: 1em;
  }
  .bottom__inner {
    grid-template-columns: repeat(1, 1fr)!important;
  }
  #bottom .statement br {
    display: none!important;
  }
  .projects-item--poem .projects-item__content {
    padding: 0!important;
  }
  .top h1 span.c {
    display: none!important;
  }
  .projects-item__subtitle {
    display: none;
  }
  .mx {
    display: none!important;
  }
  .projects-item--poem .projects-item__content {
    font-size: var(--small)!important;
  }
  .project__initial {
    display: flex!important;
    flex-direction: column;
  }
  p br {
    display: none;
  }
  .addr br:nth-of-type(1) {
    display: block!important;
  }
  .project__initial__details {
    position: static!important;
    transform: none!important;
    margin-top: none!important;
    bottom: initial!important;
    margin-bottom: var(--gutter);
  }
  .related .projects-list .projects-item:nth-of-type(3) {
    display: none;
  }
  .contact-overlay, .newsletter-overlay {
    transform: none!important;
    top: initial!important;
    left: 0!important;
    bottom: 0!important;
    width: 100%!important;
    max-width: 100%!important;
    box-shadow: 0 -1rem 2rem rgba(0, 0, 0, 0.3)!important;
  }

  .accordion__item__content {
    display: block;
  }
  .accordion--about [data-has-image="true"] .accordion__item__content__right {
    margin-left: var(--text-indent);
    margin-right: var(--text-indent);
  }
  .fragment__content, .fragment__right {
    display: block;
  }
  .fragment__right {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
  .fragment .details .row > div:nth-of-type(1),
  .project__initial__details td:nth-child(1) {
    width: calc(var(--text-indent) * 3)!important;
  }
  .top {
    background: white;
    padding-bottom: 1.6rem!important;
    transition: box-shadow 0.25s ease-in-out;
  }
  body.scrolled .top {
    box-shadow: var(--page-shadow);
  }
  .project__initial p:not(:first-of-type) {
    padding-right: 0!important;
  }
  .index {
    display: block!important;
  }
  .index__items {
    grid-template-columns: repeat(4, 1fr)!important;
  }
  .drawings {
    width: 100%!important;
  }
  .accordion--about [data-has-image="false"] .accordion__item__content__text {
    max-width: 100%!important;
    padding-right: 0!important;
  }
  .accordion__item__content__thumbs {
    grid-template-columns: repeat(4, 1fr)!important;
  }
  .lightbox__slide__caption {
    display: none;
  }
  .lightbox__slide__corner {
    max-width: calc(50% - 3em);
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .index__trigger, .index__sidebar__close {
    display: block!important;
  }
  body:not(.index-sidebar-open) .index__sidebar {
    position: relative!important;
    display: none!important;
  }
  body:not(.index-sidebar-open) .index__sidebar__overflow {
    height: auto!important;
    overflow: visible!important;
    padding-left: 0!important;
    padding-right: 0!important;
  }
  body.index-sidebar-open .index__sidebar {
    display: block!important;
    position: fixed!important;
    top: 0; left: 0;
    bottom: 0; right: 0;
    grid-column: none!important;
    display: none;
    z-index: 30;
    background: white;
    padding: var(--gutter)!important;
  }
  body.index-sidebar-open .index__sidebar__overflow {
    padding: 0!important;
  }
  .fade {
    display: none;
  }
}

