article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background-color: #333;
}

::selection {
  color: #fff;
  background-color: #333;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --color-text: #333;
  --color-bg: #f8f6f0;
  --color-bg: #snow;

  --color-link: #342d18;
  --color-link-white: snow;

  --color-link-hover: #b39e5d;

  --color-info: #000;
  --grid-item-bg: #000;
  --grid-item-bg: #eee;

  --focus-item-bg: #b39e5d;
  --color-close: purple;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  min-height: 100vh;
  color: #333;
  color: var(--color-text);
  background-color: #fff;
  background-color: var(--color-bg);
}

/* Page Loader */
.js .loading::before {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  content: "loading text";
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;

  transition: color 0.25s;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

main {
  position: relative;
}

.frame {
  font-family: "Gowun Batang", "Noto Serif", serif;

  position: relative;
  padding: 1.5rem;
}

.frame a:hover {
  color: #4c33f7;
}

/* Header */
.header {
  position: relative;
  z-index: 100;
  text-align: center;
  font-size: 1rem;
}

.header__title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.info {
  margin: 0 0 0 1.25em;
  color: var(--color-info);
}

.github {
  display: block;
  margin: 0.15em 0.15em 0.15em 0.5em;
  padding: 0.25em;
}

.title {
  text-align: center;
}

.title__name {
  font-weight: 700;

  font-size: 1rem;
  margin: 0 0 0.5rem;
}

.title__sub {
  font-weight: 700;

  font-size: 1rem;
}

.title__sub {
  position: relative;
  margin: 0;
}

/* Top Navigation Style */
nav {
  position: relative;
  padding: 0.75rem;

  width: fit-content;

  z-index: 999;
}

nav > h1 {
  margin: 0 0 0.5rem;

  font-size: 0.75rem;
}

nav > a {
  display: block;

  font-size: 0.75rem;
  line-height: 1.6;
}

.grid-wrap {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 6rem 1rem 0;
}

.grid-wrap--hidden {
  height: 0;
  overflow: hidden;
}

.grid {
  margin: 0 auto;
  position: relative;
  display: none;
}

.js .grid {
  display: block;
}

.grid__item {
  width: 280px;
  position: relative;
  padding: 2.75rem;
  margin-bottom: 8rem;
}

.grid__item:focus {
  color: var(--color-text);
}

.grid__item:focus > .grid__item-bg {
  background: var(--focus-item-bg);
}

.grid__item-wrap {
  position: relative;
}

.grid__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grid-item-bg);
}

.grid__item-img {
  pointer-events: none;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  outline: 1px solid transparent;
}

.grid__item:nth-child(even) .grid__item-img {
  transform: rotate3d(0, 0, 1, 0deg);
}

.grid__item:nth-child(odd) .grid__item-img {
  transform: rotate3d(0, 0, 1, 0deg);
}

.grid__item-title {
  position: absolute;
  right: 0.125rem;
  top: 0.25rem;
  margin: 0 0 0 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;

  letter-spacing: 0px;

  transform-origin: 0 50%;
}

.grid__item-title > span {
  text-orientation: sideways;
  margin: 0.125rem 0;
}

.grid__item-title > span.kr {
  text-orientation: inherit;
  margin: 0 0 0.125rem;
}

.grid__item-title > em {
  background: transparent;

  writing-mode: horizontal-tb;
  vertical-align: top;
  margin: -0.25rem 0 0.375rem;
}

.grid__item-number {
  position: absolute;
  left: -1rem;
  bottom: 0;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0.15rem;
}

.grid__item small {
  position: absolute;

  right: -1rem;
  top: -0.25rem;

  font-size: 0.625rem;
  font-weight: 500;
}

.grid__item-number > span {
  display: inline-block;
}

.content {
  margin: 0 auto;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  pointer-events: none;
}

.js .content {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content__item {
  padding: 10rem 5vw 10rem;
  grid-area: 1 / 1 / 1 / 1;
}

.js .content__item {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
}

.js .content__item--current {
  height: auto;
  opacity: 1;
  padding: 8rem 5vw 10rem;
  pointer-events: auto;
}

.content__item-intro {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
}

.content__item-img {
  position: relative;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  grid-area: 1 / 1 / 1 / 1;
}

.js .content__item-img {
  visibility: hidden;
}

.content__item-title {
  position: relative;

  color: var(--color-link-white);

  font-family: "Gowun Batang", "Noto Serif", serif;
  font-size: 7vw;
  line-height: 1;
  text-align: center;
  white-space: nowrap;

  grid-area: 1 / 1 / 1 / 1;
  margin: 0;
  padding: 0 5vw;
}

.content__item-title > span {
  white-space: pre;
  display: inline-block;
}

.content__item-subtitle {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: normal;
  margin: 4rem auto;
}

.content__item-text {
  text-align: left;
  max-width: 840px;
  margin: 0 auto;
}

.content__item-text h4 {
  margin-block-start: 2.6em;
}

.content__item-text p {
  word-break: keep-all;
  text-indent: 0.75rem;
  line-height: 1.68;

  margin: 0;
}

.content__item-subtitle,
.content__item-text h4,
.content__item-text p {
  color: var(--color-link);
}

.content__item-text figure {
  padding: 0.75rem 0;
}

.content__item-text figure > img {
  width: 100%;
}

.content__close {
  position: absolute;
  top: 0.75rem;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);

  background: #fff;
  border-radius: 24px;

  border: 0;
  margin: 0 auto;
  padding: 8px 12px;
  cursor: pointer;
  color: var(--color-text);
}

.content__close:focus {
  outline: none;
}

.content__item--current ~ .content__close {
  pointer-events: auto;
}

.content__indicator {
  position: absolute;
  top: calc(100vh - 6rem);
  left: calc(50% - 0.75rem);
  display: none;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: start;

  padding: 1.5rem;
}

.footer_wrapper {
  /* display: flex;
  flex-direction: row; */
  margin-bottom: 1rem;
}

.footer_container h1 {
  font-size: 0.75rem;
  line-height: 1.4;
  font-weight: 600;

  margin: 0;
}

.footer_container p {
  font-size: 0.75rem;
  line-height: 1.4;
  font-weight: 400;

  margin: 0;
}

.js .content__item-title > span,
.js .content__item-subtitle,
.js .content__item-text,
.content__close,
.content__indicator {
  opacity: 0;
}

@media screen and (min-width: 55em) {
  .frame {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .header {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    align-items: start;
    text-align: left;
  }

  .title__name {
    margin: 0;
  }

  .title {
    grid-area: title;
    display: flex;
    text-align: left;
  }
  .title__sub {
    position: relative;
    padding: 0 0 0 5rem;
    margin: 0 0 0 1rem;
  }
  .title__sub::before {
    content: "";
    height: 1px;
    width: 4rem;
    background: currentColor;
    position: absolute;
    top: 0.625rem;
    left: 0;
  }
  .title__sub-works {
    display: block;
  }

  nav {
    position: sticky;
    top: 0;
  }

  nav > a {
    font-size: 0.625rem;
  }

  .grid__item-number {
    right: -2.45rem;
  }
  .grid__item-title {
    margin-left: -0.25rem;
  }

  .content__item-title {
    font-size: 4vw;
  }

  .content__item-subtitle {
    font-size: 2vw;
  }
  .content__item-text {
    column-count: 2;
    column-gap: 4rem;
  }
  .content__item-img {
    max-width: none;
    height: calc(100vh - 6rem);
  }
  .content__item-subtitle {
    max-width: 50%;
  }
  .content__indicator {
    display: block;
  }

  .content__close {
    left: calc(50% - 12px);
  }
}
